<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--

-->
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="application_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="application_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="application.diagram.part.ApplicationDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/DomainDiagramFile.gif"
         extensions="application_diagram"
         default="true"
         class="application.diagram.part.DomainDiagramEditor"
         matchingStrategy="application.diagram.part.DomainMatchingStrategy"
         contributorClass="application.diagram.part.DomainDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="application.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/DomainDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="application.diagram.part.DomainCreationWizard"
  	     id="application.diagram.part.DomainCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="org.tura.metamodel.diagram.application.InitDiagram"
            nameFilter="*.domain"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="application.diagram.part.DomainInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.tura.metamodel.diagram.application.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="ApplicationPresentation">
         <Priority name="Lowest"/>
         <ViewId id="application.diagram.part.ApplicationDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="ApplicationPresentationPrint">
         <Priority name="Lowest"/>
         <ViewId id="application.diagram.part.ApplicationDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="ApplicationPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="application.diagram.part.ApplicationDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="ApplicationRender">
         <Priority name="Lowest"/>
         <ViewId id="application.diagram.part.ApplicationDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="application.diagram.providers.DomainMarkerNavigationProvider">
         <MarkerType name="org.tura.metamodel.diagram.application.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="Domain Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="application.diagram.providers.DomainValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="application.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="org.tura.metamodel.diagram.general"
            name="%prefpage.org.tura.metamodel.diagram.general"
            class="application.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="org.tura.metamodel.diagram.appearance"
            name="%prefpage.org.tura.metamodel.diagram.appearance"
            category="org.tura.metamodel.diagram.general"
            class="application.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="org.tura.metamodel.diagram.connections"
            name="%prefpage.org.tura.metamodel.diagram.connections"
            category="org.tura.metamodel.diagram.general"
            class="application.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="org.tura.metamodel.diagram.printing"
            name="%prefpage.org.tura.metamodel.diagram.printing"
            category="org.tura.metamodel.diagram.general"
            class="application.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="org.tura.metamodel.diagram.rulersAndGrid"
            name="%prefpage.org.tura.metamodel.diagram.rulersAndGrid"
            category="org.tura.metamodel.diagram.general"
            class="application.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.tura.metamodel.diagram.application"
            labelProvider="application.diagram.sheet.DomainSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.tura.metamodel.diagram.application">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.tura.metamodel.diagram.application">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="application.diagram.sheet.DomainPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="application.diagram.navigator.DomainAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="application.diagram.providers.DomainViewProvider">
         <Priority name="Lowest"/>
         <object id="referencing-diagrams" class="org.eclipse.gmf.runtime.notation.Diagram">
            <method name="getType()" value="domain"/>
         </object>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" containerViews="referencing-diagrams"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Application"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="802001,802002,802003,803001,803002,803003"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="804001,804011,804007,804009,804005,804006,804004,804003"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="application.diagram.providers.DomainEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Application"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="802001,802002,802003,803001,803002,803003"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="804001,804011,804007,804009,804005,804006,804004,804003"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="805002,805004,805006,805001,805003,805005"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="807001,807002,807003"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="application.diagram.providers.DomainModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="application.diagram.edit.parts.ApplicationEditPart" id="Application_801000"/>
         <object class="application.diagram.edit.parts.ApplicationRecipesEditPart" id="ApplicationRecipes_802001"/>
         <object class="application.diagram.edit.parts.ApplicationMappersEditPart" id="ApplicationMappers_802002"/>
         <object class="application.diagram.edit.parts.ApplicationUILayerEditPart" id="ApplicationUILayer_802003"/>
         <context elements="Application_801000,ApplicationRecipes_802001,ApplicationMappers_802002,ApplicationUILayer_802003"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="application.diagram.providers.DomainIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="application.diagram.providers.DomainParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders" id="decorator-provider">
      <?gmfgen generated="true"?>
      <decoratorProvider class="application.diagram.providers.DomainShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)" id="generated-top-nodes">
            <method name="getType()" value="802001,802002,802003"/>
         </object>
         <context decoratorTargets="generated-top-nodes"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.application.Application_801000"
               name="%metatype.name.Application_801000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Application"
               edithelper="application.diagram.edit.helpers.ApplicationEditHelper">
            <param name="semanticHint" value="801000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.application.ApplicationRecipes_802001"
               name="%metatype.name.ApplicationRecipes_802001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ApplicationRecipes"
               edithelper="application.diagram.edit.helpers.ApplicationRecipesEditHelper">
            <param name="semanticHint" value="802001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.application.ApplicationMappers_802002"
               name="%metatype.name.ApplicationMappers_802002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ApplicationMappers"
               edithelper="application.diagram.edit.helpers.ApplicationMappersEditHelper">
            <param name="semanticHint" value="802002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.application.ApplicationUILayer_802003"
               name="%metatype.name.ApplicationUILayer_802003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ApplicationUILayer"
               edithelper="application.diagram.edit.helpers.ApplicationUILayerEditHelper">
            <param name="semanticHint" value="802003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.application.ApplicationRecipe_803001"
               name="%metatype.name.ApplicationRecipe_803001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ApplicationRecipe"
               edithelper="application.diagram.edit.helpers.ApplicationRecipeEditHelper">
            <param name="semanticHint" value="803001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.application.ApplicationMapper_803002"
               name="%metatype.name.ApplicationMapper_803002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ApplicationMapper"
               edithelper="application.diagram.edit.helpers.ApplicationMapperEditHelper">
            <param name="semanticHint" value="803002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.application.ApplicationUIPackage_803003"
               name="%metatype.name.ApplicationUIPackage_803003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ApplicationUIPackage"
               edithelper="application.diagram.edit.helpers.ApplicationUIPackageEditHelper">
            <param name="semanticHint" value="803003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.application.TypeExtension_804001"
               name="%metatype.name.TypeExtension_804001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="TypeExtension"
               edithelper="application.diagram.edit.helpers.TypeExtensionEditHelper">
            <param name="semanticHint" value="804001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.application.Relation_804011"
               name="%metatype.name.Relation_804011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Relation"
               edithelper="application.diagram.edit.helpers.RelationEditHelper">
            <param name="semanticHint" value="804011"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <specializationType
               id="org.tura.metamodel.diagram.application.DeploymentComponentDeplymentComponent_804007"
               name="%metatype.name.DeploymentComponentDeplymentComponent_804007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="804007"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <specializationType
               id="org.tura.metamodel.diagram.application.DeploymentStarStepFirstStep_804009"
               name="%metatype.name.DeploymentStarStepFirstStep_804009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="804009"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <specializationType
               id="org.tura.metamodel.diagram.application.RecipeInfrastructures_804005"
               name="%metatype.name.RecipeInfrastructures_804005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="804005"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <specializationType
               id="org.tura.metamodel.diagram.application.RecipeDeloyment_804006"
               name="%metatype.name.RecipeDeloyment_804006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="804006"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <specializationType
               id="org.tura.metamodel.diagram.application.InfrastructureRecipeConfig_804004"
               name="%metatype.name.InfrastructureRecipeConfig_804004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="804004"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <specializationType
               id="org.tura.metamodel.diagram.application.ConfigurationConfigExtension_804003"
               name="%metatype.name.ConfigurationConfigExtension_804003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="804003"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <!-- ITEMIS CHANGE: Singleton editing domain requires the use of the same ClientContext --> 
      <!-- <clientContext id="org.tura.metamodel.diagram.application.TypeContext"> -->
      <clientContext id="SharedClientContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.tura.metamodel.diagram.application.EditingDomain"/>
         </enablement>
      </clientContext> 
      <!-- ITEMIS CHANGE: Singleton editing domain requires the use of the same ClientContext --> 
      <!-- <binding context="org.tura.metamodel.diagram.application.TypeContext"> -->
      <binding context="SharedClientContext">
         <elementType ref="org.tura.metamodel.diagram.application.Application_801000"/>
         <elementType ref="org.tura.metamodel.diagram.application.ApplicationRecipes_802001"/>
         <elementType ref="org.tura.metamodel.diagram.application.ApplicationMappers_802002"/>
         <elementType ref="org.tura.metamodel.diagram.application.ApplicationUILayer_802003"/>
         <elementType ref="org.tura.metamodel.diagram.application.ApplicationRecipe_803001"/>
         <elementType ref="org.tura.metamodel.diagram.application.ApplicationMapper_803002"/>
         <elementType ref="org.tura.metamodel.diagram.application.ApplicationUIPackage_803003"/>
         <elementType ref="org.tura.metamodel.diagram.application.TypeExtension_804001"/>
         <elementType ref="org.tura.metamodel.diagram.application.Relation_804011"/>
         <elementType ref="org.tura.metamodel.diagram.application.DeploymentComponentDeplymentComponent_804007"/>
         <elementType ref="org.tura.metamodel.diagram.application.DeploymentStarStepFirstStep_804009"/>
         <elementType ref="org.tura.metamodel.diagram.application.RecipeInfrastructures_804005"/>
         <elementType ref="org.tura.metamodel.diagram.application.RecipeDeloyment_804006"/>
         <elementType ref="org.tura.metamodel.diagram.application.InfrastructureRecipeConfig_804004"/>
         <elementType ref="org.tura.metamodel.diagram.application.ConfigurationConfigExtension_804003"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.tura.metamodel.diagram.application.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.tura.metamodel.diagram.application"
           properties="isURIEditorInput"
           class="application.diagram.part.DomainUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isShortcut">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.tura.metamodel.diagram.application.ShortcutPropertyTester"
           type="org.eclipse.gmf.runtime.notation.View"
           namespace="org.tura.metamodel.diagram.application"
           properties="isShortcut"
           class="application.diagram.part.DomainShortcutPropertyTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.tura.metamodel.diagram.application.resourceContent"/>
			<contentExtension pattern="org.tura.metamodel.diagram.application.domainResourceContent"/>
            <contentExtension pattern="org.tura.metamodel.diagram.application.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.tura.metamodel.diagram.application.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.tura.metamodel.diagram.application.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="application.diagram.navigator.DomainNavigatorContentProvider" 
            labelProvider="application.diagram.navigator.DomainNavigatorLabelProvider"
            icon="icons/obj16/DomainDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="application_diagram"/>
               </and>
               <instanceof value="application.diagram.navigator.DomainAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.tura.metamodel.diagram.application.isShortcut"/>
           	   </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="application.diagram.navigator.DomainAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.tura.metamodel.diagram.application.isShortcut"/>
           	   </adapt>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.tura.metamodel.diagram.application.navigatorSorter" 
               class="application.diagram.navigator.DomainNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="application_diagram"/>
                  </and>
                  <instanceof value="application.diagram.navigator.DomainAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.tura.metamodel.diagram.application.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="application.diagram.navigator.DomainDomainNavigatorContentProvider" 
            labelProvider="application.diagram.navigator.DomainDomainNavigatorLabelProvider"
            icon="icons/obj16/DomainDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="domain"/>
               </and>
               <instanceof value="application.diagram.navigator.DomainDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="application.diagram.navigator.DomainDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.tura.metamodel.diagram.application.navigatorActionProvider"
            class="application.diagram.navigator.DomainNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="application.diagram.navigator.DomainAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.tura.metamodel.diagram.application.isShortcut"/>
           	   </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.tura.metamodel.diagram.application.navigatorLinkHelper"
            class="application.diagram.navigator.DomainNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.tura.metamodel.diagram.application.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="application.diagram.navigator.DomainAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="application.diagram.part.DomainDiagramUpdateCommand"
         description="%update.diagram.description"
         id="application.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="application.diagram.updateDiagram"
         contextId="application.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="org.tura.metamodel.diagram.application.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="application.diagram.part.ApplicationDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="application.diagram.edit.parts.ApplicationEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="application.diagram.part.ApplicationDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="org.tura.metamodel.diagram.application.LoadResourceAction"
         name="Load Resource"
         categoryId="application.diagram.part.ApplicationDiagramEditorID"
         defaultHandler="application.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->


    <extension
         point="org.eclipse.emf.transaction.editingDomains">
      <!-- ITEMIS CHANGE: register diagram editing domain factory --> 
      <editingDomain
            factory="org.eclipse.gmf.runtime.diagram.core.DiagramEditingDomainFactory"
            id="org.tura.metamodel.diagram.application.EditingDomain">
      </editingDomain>
   </extension>
</plugin>
