<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--

-->
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="canvas_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="canvas_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="canvas.diagram.part.CanvasDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/DomainDiagramFile.gif"
         extensions="canvas_diagram"
         default="true"
         class="canvas.diagram.part.DomainDiagramEditor"
         matchingStrategy="canvas.diagram.part.DomainMatchingStrategy"
         contributorClass="canvas.diagram.part.DomainDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="canvas.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/DomainDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="canvas.diagram.part.DomainCreationWizard"
  	     id="canvas.diagram.part.DomainCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="org.tura.metamodel.diagram.canvas.InitDiagram"
            nameFilter="*.domain"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="canvas.diagram.part.DomainInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.tura.metamodel.diagram.canvas.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="CanvasPresentation">
         <Priority name="Lowest"/>
         <ViewId id="canvas.diagram.part.CanvasDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="CanvasPresentationPrint">
         <Priority name="Lowest"/>
         <ViewId id="canvas.diagram.part.CanvasDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="CanvasPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="canvas.diagram.part.CanvasDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="CanvasRender">
         <Priority name="Lowest"/>
         <ViewId id="canvas.diagram.part.CanvasDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="canvas.diagram.providers.DomainMarkerNavigationProvider">
         <MarkerType name="org.tura.metamodel.diagram.canvas.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="Domain Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="canvas.diagram.providers.DomainValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="canvas.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="org.tura.metamodel.diagram.general"
            name="%prefpage.org.tura.metamodel.diagram.general"
            class="canvas.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="org.tura.metamodel.diagram.appearance"
            name="%prefpage.org.tura.metamodel.diagram.appearance"
            category="org.tura.metamodel.diagram.general"
            class="canvas.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="org.tura.metamodel.diagram.connections"
            name="%prefpage.org.tura.metamodel.diagram.connections"
            category="org.tura.metamodel.diagram.general"
            class="canvas.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="org.tura.metamodel.diagram.printing"
            name="%prefpage.org.tura.metamodel.diagram.printing"
            category="org.tura.metamodel.diagram.general"
            class="canvas.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="org.tura.metamodel.diagram.rulersAndGrid"
            name="%prefpage.org.tura.metamodel.diagram.rulersAndGrid"
            category="org.tura.metamodel.diagram.general"
            class="canvas.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.tura.metamodel.diagram.canvas"
            labelProvider="canvas.diagram.sheet.DomainSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.tura.metamodel.diagram.canvas">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.tura.metamodel.diagram.canvas">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="canvas.diagram.sheet.DomainPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="canvas.diagram.navigator.DomainAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="canvas.diagram.providers.DomainViewProvider">
         <Priority name="Lowest"/>
         <object id="referencing-diagrams" class="org.eclipse.gmf.runtime.notation.Diagram">
            <method name="getType()" value="domain"/>
         </object>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" containerViews="referencing-diagrams"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Canvas"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="1602003,1603002,1603008,1603024,1603010,1603021,1603022,1603026,1603020,1603016,1603019,1603004,1603006,1603007,1603017,1603027,1603005,1603012,1603014,1603015,1603023,1603013"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints=""/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="canvas.diagram.providers.DomainEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Canvas"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="1602003,1603002,1603008,1603024,1603010,1603021,1603022,1603026,1603020,1603016,1603019,1603004,1603006,1603007,1603017,1603027,1603005,1603012,1603014,1603015,1603023,1603013"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value=""/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="1605004,1605010,1605007,1605008,1605012,1605005,1605006,1605013,1605001,1605009,1605002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="1607007,1607003,1607011,1607010,1607014,1607015,1607009,1607012,1607008,1607016,1607017"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="canvas.diagram.providers.DomainModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="canvas.diagram.edit.parts.CanvasViewEditPart" id="CanvasView_1601000"/>
         <object class="canvas.diagram.edit.parts.LayerHolderEditPart" id="LayerHolder_1602003"/>
         <context elements="CanvasView_1601000,LayerHolder_1602003"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="canvas.diagram.providers.DomainIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders" id="decorator-provider">
      <?gmfgen generated="true"?>
      <decoratorProvider class="canvas.diagram.providers.DomainShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)" id="generated-top-nodes">
            <method name="getType()" value="1602003"/>
         </object>
         <context decoratorTargets="generated-top-nodes"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.canvas.CanvasView_1601000"
               name="%metatype.name.CanvasView_1601000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CanvasView"
               edithelper="canvas.diagram.edit.helpers.CanvasViewEditHelper">
            <param name="semanticHint" value="1601000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.canvas.LayerHolder_1602003"
               name="%metatype.name.LayerHolder_1602003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="LayerHolder"
               edithelper="canvas.diagram.edit.helpers.LayerHolderEditHelper">
            <param name="semanticHint" value="1602003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.canvas.DropDownSelection_1603002"
               name="%metatype.name.DropDownSelection_1603002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DropDownSelection"
               edithelper="canvas.diagram.edit.helpers.DropDownSelectionEditHelper">
            <param name="semanticHint" value="1603002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.canvas.Table_1603008"
               name="%metatype.name.Table_1603008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Table"
               edithelper="canvas.diagram.edit.helpers.TableEditHelper">
            <param name="semanticHint" value="1603008"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.canvas.Column_1603024"
               name="%metatype.name.Column_1603024"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Column"
               edithelper="canvas.diagram.edit.helpers.ColumnEditHelper">
            <param name="semanticHint" value="1603024"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <specializationType
               id="org.tura.metamodel.diagram.canvas.DropDownSelection_1603010"
               name="%metatype.name.DropDownSelection_1603010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.tura.metamodel.diagram.canvas.DropDownSelection_1603002"/>
            <param name="semanticHint" value="1603010"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <specializationType
               id="org.tura.metamodel.diagram.canvas.Table_1603021"
               name="%metatype.name.Table_1603021"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.tura.metamodel.diagram.canvas.Table_1603008"/>
            <param name="semanticHint" value="1603021"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.canvas.Tree_1603022"
               name="%metatype.name.Tree_1603022"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Tree"
               edithelper="canvas.diagram.edit.helpers.TreeEditHelper">
            <param name="semanticHint" value="1603022"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <specializationType
               id="org.tura.metamodel.diagram.canvas.Column_1603026"
               name="%metatype.name.Column_1603026"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.tura.metamodel.diagram.canvas.Column_1603024"/>
            <param name="semanticHint" value="1603026"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <specializationType
               id="org.tura.metamodel.diagram.canvas.LayerHolder_1603020"
               name="%metatype.name.LayerHolder_1603020"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.tura.metamodel.diagram.canvas.LayerHolder_1602003"/>
            <param name="semanticHint" value="1603020"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <specializationType
               id="org.tura.metamodel.diagram.canvas.Tree_1603016"
               name="%metatype.name.Tree_1603016"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.tura.metamodel.diagram.canvas.Tree_1603022"/>
            <param name="semanticHint" value="1603016"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <specializationType
               id="org.tura.metamodel.diagram.canvas.LayerHolder_1603019"
               name="%metatype.name.LayerHolder_1603019"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.tura.metamodel.diagram.canvas.LayerHolder_1602003"/>
            <param name="semanticHint" value="1603019"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.canvas.InputText_1603004"
               name="%metatype.name.InputText_1603004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InputText"
               edithelper="canvas.diagram.edit.helpers.InputTextEditHelper">
            <param name="semanticHint" value="1603004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.canvas.OutputText_1603006"
               name="%metatype.name.OutputText_1603006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="OutputText"
               edithelper="canvas.diagram.edit.helpers.OutputTextEditHelper">
            <param name="semanticHint" value="1603006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.canvas.CheckBox_1603007"
               name="%metatype.name.CheckBox_1603007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CheckBox"
               edithelper="canvas.diagram.edit.helpers.CheckBoxEditHelper">
            <param name="semanticHint" value="1603007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.canvas.Button_1603017"
               name="%metatype.name.Button_1603017"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Button"
               edithelper="canvas.diagram.edit.helpers.ButtonEditHelper">
            <param name="semanticHint" value="1603017"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.canvas.ActionTrigger_1603027"
               name="%metatype.name.ActionTrigger_1603027"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ActionTrigger"
               edithelper="canvas.diagram.edit.helpers.ActionTriggerEditHelper">
            <param name="semanticHint" value="1603027"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.canvas.Label_1603005"
               name="%metatype.name.Label_1603005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Label"
               edithelper="canvas.diagram.edit.helpers.LabelEditHelper">
            <param name="semanticHint" value="1603005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <specializationType
               id="org.tura.metamodel.diagram.canvas.InputText_1603012"
               name="%metatype.name.InputText_1603012"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.tura.metamodel.diagram.canvas.InputText_1603004"/>
            <param name="semanticHint" value="1603012"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <specializationType
               id="org.tura.metamodel.diagram.canvas.OutputText_1603014"
               name="%metatype.name.OutputText_1603014"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.tura.metamodel.diagram.canvas.OutputText_1603006"/>
            <param name="semanticHint" value="1603014"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <specializationType
               id="org.tura.metamodel.diagram.canvas.CheckBox_1603015"
               name="%metatype.name.CheckBox_1603015"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.tura.metamodel.diagram.canvas.CheckBox_1603007"/>
            <param name="semanticHint" value="1603015"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <specializationType
               id="org.tura.metamodel.diagram.canvas.Button_1603023"
               name="%metatype.name.Button_1603023"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.tura.metamodel.diagram.canvas.Button_1603017"/>
            <param name="semanticHint" value="1603023"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <specializationType
               id="org.tura.metamodel.diagram.canvas.Label_1603013"
               name="%metatype.name.Label_1603013"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.tura.metamodel.diagram.canvas.Label_1603005"/>
            <param name="semanticHint" value="1603013"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <!-- ITEMIS CHANGE: Singleton editing domain requires the use of the same ClientContext --> 
      <!-- <clientContext id="org.tura.metamodel.diagram.canvas.TypeContext"> -->
      <clientContext id="SharedClientContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.tura.metamodel.diagram.canvas.EditingDomain"/>
         </enablement>
      </clientContext> 
      <!-- ITEMIS CHANGE: Singleton editing domain requires the use of the same ClientContext --> 
      <!-- <binding context="org.tura.metamodel.diagram.canvas.TypeContext"> -->
      <binding context="SharedClientContext">
         <elementType ref="org.tura.metamodel.diagram.canvas.CanvasView_1601000"/>
         <elementType ref="org.tura.metamodel.diagram.canvas.LayerHolder_1602003"/>
         <elementType ref="org.tura.metamodel.diagram.canvas.DropDownSelection_1603002"/>
         <elementType ref="org.tura.metamodel.diagram.canvas.Table_1603008"/>
         <elementType ref="org.tura.metamodel.diagram.canvas.Column_1603024"/>
         <elementType ref="org.tura.metamodel.diagram.canvas.DropDownSelection_1603010"/>
         <elementType ref="org.tura.metamodel.diagram.canvas.Table_1603021"/>
         <elementType ref="org.tura.metamodel.diagram.canvas.Tree_1603022"/>
         <elementType ref="org.tura.metamodel.diagram.canvas.Column_1603026"/>
         <elementType ref="org.tura.metamodel.diagram.canvas.LayerHolder_1603020"/>
         <elementType ref="org.tura.metamodel.diagram.canvas.Tree_1603016"/>
         <elementType ref="org.tura.metamodel.diagram.canvas.LayerHolder_1603019"/>
         <elementType ref="org.tura.metamodel.diagram.canvas.InputText_1603004"/>
         <elementType ref="org.tura.metamodel.diagram.canvas.OutputText_1603006"/>
         <elementType ref="org.tura.metamodel.diagram.canvas.CheckBox_1603007"/>
         <elementType ref="org.tura.metamodel.diagram.canvas.Button_1603017"/>
         <elementType ref="org.tura.metamodel.diagram.canvas.ActionTrigger_1603027"/>
         <elementType ref="org.tura.metamodel.diagram.canvas.Label_1603005"/>
         <elementType ref="org.tura.metamodel.diagram.canvas.InputText_1603012"/>
         <elementType ref="org.tura.metamodel.diagram.canvas.OutputText_1603014"/>
         <elementType ref="org.tura.metamodel.diagram.canvas.CheckBox_1603015"/>
         <elementType ref="org.tura.metamodel.diagram.canvas.Button_1603023"/>
         <elementType ref="org.tura.metamodel.diagram.canvas.Label_1603013"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.tura.metamodel.diagram.canvas.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.tura.metamodel.diagram.canvas"
           properties="isURIEditorInput"
           class="canvas.diagram.part.DomainUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isShortcut">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.tura.metamodel.diagram.canvas.ShortcutPropertyTester"
           type="org.eclipse.gmf.runtime.notation.View"
           namespace="org.tura.metamodel.diagram.canvas"
           properties="isShortcut"
           class="canvas.diagram.part.DomainShortcutPropertyTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.tura.metamodel.diagram.canvas.resourceContent"/>
			<contentExtension pattern="org.tura.metamodel.diagram.canvas.domainResourceContent"/>
            <contentExtension pattern="org.tura.metamodel.diagram.canvas.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.tura.metamodel.diagram.canvas.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.tura.metamodel.diagram.canvas.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="canvas.diagram.navigator.DomainNavigatorContentProvider" 
            labelProvider="canvas.diagram.navigator.DomainNavigatorLabelProvider"
            icon="icons/obj16/DomainDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="canvas_diagram"/>
               </and>
               <instanceof value="canvas.diagram.navigator.DomainAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.tura.metamodel.diagram.canvas.isShortcut"/>
           	   </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="canvas.diagram.navigator.DomainAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.tura.metamodel.diagram.canvas.isShortcut"/>
           	   </adapt>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.tura.metamodel.diagram.canvas.navigatorSorter" 
               class="canvas.diagram.navigator.DomainNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="canvas_diagram"/>
                  </and>
                  <instanceof value="canvas.diagram.navigator.DomainAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.tura.metamodel.diagram.canvas.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="canvas.diagram.navigator.DomainDomainNavigatorContentProvider" 
            labelProvider="canvas.diagram.navigator.DomainDomainNavigatorLabelProvider"
            icon="icons/obj16/DomainDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="domain"/>
               </and>
               <instanceof value="canvas.diagram.navigator.DomainDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="canvas.diagram.navigator.DomainDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.tura.metamodel.diagram.canvas.navigatorActionProvider"
            class="canvas.diagram.navigator.DomainNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="canvas.diagram.navigator.DomainAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.tura.metamodel.diagram.canvas.isShortcut"/>
           	   </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.tura.metamodel.diagram.canvas.navigatorLinkHelper"
            class="canvas.diagram.navigator.DomainNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.tura.metamodel.diagram.canvas.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="canvas.diagram.navigator.DomainAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="canvas.diagram.part.DomainDiagramUpdateCommand"
         description="%update.diagram.description"
         id="canvas.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="canvas.diagram.updateDiagram"
         contextId="canvas.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="org.tura.metamodel.diagram.canvas.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="canvas.diagram.part.CanvasDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="canvas.diagram.edit.parts.CanvasViewEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="canvas.diagram.part.CanvasDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="org.tura.metamodel.diagram.canvas.LoadResourceAction"
         name="Load Resource"
         categoryId="canvas.diagram.part.CanvasDiagramEditorID"
         defaultHandler="canvas.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->


    <extension
         point="org.eclipse.emf.transaction.editingDomains">
      <!-- ITEMIS CHANGE: register diagram editing domain factory --> 
      <editingDomain
            factory="org.eclipse.gmf.runtime.diagram.core.DiagramEditingDomainFactory"
            id="org.tura.metamodel.diagram.canvas.EditingDomain">
      </editingDomain>
   </extension>
<extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="canvas.diagram.providers.DomainParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>


</plugin>
