<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="domain.presentation.DomainModelWizardID"
            name="%_UI_DomainModelWizard_label"
            class="domain.presentation.DomainModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DomainModelFile.gif">
         <description>%_UI_DomainModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>


   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="domain.presentation.DomainEditorID"
            name="%_UI_DomainEditor_label"
            icon="icons/full/obj16/DomainModelFile.gif"
            extensions="domain"
            class="domain.presentation.DomainEditor"
            contributorClass="domain.presentation.DomainActionBarContributor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="artifact.presentation.ArtifactModelWizardID"
            name="%_UI_ArtifactModelWizard_label"
            class="artifact.presentation.ArtifactModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ArtifactModelFile.gif">
         <description>%_UI_ArtifactModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="artifact.presentation.ArtifactEditorID"
            name="%_UI_ArtifactEditor_label"
            icon="icons/full/obj16/ArtifactModelFile.gif"
            extensions="artifact"
            class="artifact.presentation.ArtifactEditor"
            contributorClass="artifact.presentation.ArtifactActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="type.presentation.TypeModelWizardID"
            name="%_UI_TypeModelWizard_label"
            class="type.presentation.TypeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TypeModelFile.gif">
         <description>%_UI_TypeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="type.presentation.TypeEditorID"
            name="%_UI_TypeEditor_label"
            icon="icons/full/obj16/TypeModelFile.gif"
            extensions="type"
            class="type.presentation.TypeEditor"
            contributorClass="type.presentation.TypeActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="application.presentation.ApplicationModelWizardID"
            name="%_UI_ApplicationModelWizard_label"
            class="application.presentation.ApplicationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ApplicationModelFile.gif">
         <description>%_UI_ApplicationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="application.presentation.ApplicationEditorID"
            name="%_UI_ApplicationEditor_label"
            icon="icons/full/obj16/ApplicationModelFile.gif"
            extensions="application"
            class="application.presentation.ApplicationEditor"
            contributorClass="application.presentation.ApplicationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="permission.presentation.PermissionModelWizardID"
            name="%_UI_PermissionModelWizard_label"
            class="permission.presentation.PermissionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PermissionModelFile.gif">
         <description>%_UI_PermissionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="permission.presentation.PermissionEditorID"
            name="%_UI_PermissionEditor_label"
            icon="icons/full/obj16/PermissionModelFile.gif"
            extensions="permission"
            class="permission.presentation.PermissionEditor"
            contributorClass="permission.presentation.PermissionActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="infrastructure.presentation.InfrastructureModelWizardID"
            name="%_UI_InfrastructureModelWizard_label"
            class="infrastructure.presentation.InfrastructureModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/InfrastructureModelFile.gif">
         <description>%_UI_InfrastructureModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="infrastructure.presentation.InfrastructureEditorID"
            name="%_UI_InfrastructureEditor_label"
            icon="icons/full/obj16/InfrastructureModelFile.gif"
            extensions="infrastructure"
            class="infrastructure.presentation.InfrastructureEditor"
            contributorClass="infrastructure.presentation.InfrastructureActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="message.presentation.MessageModelWizardID"
            name="%_UI_MessageModelWizard_label"
            class="message.presentation.MessageModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MessageModelFile.gif">
         <description>%_UI_MessageModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="message.presentation.MessageEditorID"
            name="%_UI_MessageEditor_label"
            icon="icons/full/obj16/MessageModelFile.gif"
            extensions="message"
            class="message.presentation.MessageEditor"
            contributorClass="message.presentation.MessageActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="style.presentation.StyleModelWizardID"
            name="%_UI_StyleModelWizard_label"
            class="style.presentation.StyleModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StyleModelFile.gif">
         <description>%_UI_StyleModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="style.presentation.StyleEditorID"
            name="%_UI_StyleEditor_label"
            icon="icons/full/obj16/StyleModelFile.gif"
            extensions="style"
            class="style.presentation.StyleEditor"
            contributorClass="style.presentation.StyleActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="form.presentation.FormModelWizardID"
            name="%_UI_FormModelWizard_label"
            class="form.presentation.FormModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FormModelFile.gif">
         <description>%_UI_FormModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="form.presentation.FormEditorID"
            name="%_UI_FormEditor_label"
            icon="icons/full/obj16/FormModelFile.gif"
            extensions="form"
            class="form.presentation.FormEditor"
            contributorClass="form.presentation.FormActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="recipe.presentation.RecipeModelWizardID"
            name="%_UI_RecipeModelWizard_label"
            class="recipe.presentation.RecipeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RecipeModelFile.gif">
         <description>%_UI_RecipeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="recipe.presentation.RecipeEditorID"
            name="%_UI_RecipeEditor_label"
            icon="icons/full/obj16/RecipeModelFile.gif"
            extensions="recipe"
            class="recipe.presentation.RecipeEditor"
            contributorClass="recipe.presentation.RecipeActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="mapper.presentation.MapperModelWizardID"
            name="%_UI_MapperModelWizard_label"
            class="mapper.presentation.MapperModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MapperModelFile.gif">
         <description>%_UI_MapperModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="mapper.presentation.MapperEditorID"
            name="%_UI_MapperEditor_label"
            icon="icons/full/obj16/MapperModelFile.gif"
            extensions="mapper"
            class="mapper.presentation.MapperEditor"
            contributorClass="mapper.presentation.MapperActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="common.presentation.CommonModelWizardID"
            name="%_UI_CommonModelWizard_label"
            class="common.presentation.CommonModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CommonModelFile.gif">
         <description>%_UI_CommonModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="common.presentation.CommonEditorID"
            name="%_UI_CommonEditor_label"
            icon="icons/full/obj16/CommonModelFile.gif"
            extensions="common"
            class="common.presentation.CommonEditor"
            contributorClass="common.presentation.CommonActionBarContributor">
      </editor>
   </extension>

</plugin>
