<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--

-->
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="businessobjects_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="businessobjects_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="businessobjects.diagram.part.BusinessobjectsDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/DomainDiagramFile.gif"
         extensions="businessobjects_diagram"
         default="true"
         class="businessobjects.diagram.part.DomainDiagramEditor"
         matchingStrategy="businessobjects.diagram.part.DomainMatchingStrategy"
         contributorClass="businessobjects.diagram.part.DomainDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="businessobjects.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/DomainDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="businessobjects.diagram.part.DomainCreationWizard"
  	     id="businessobjects.diagram.part.DomainCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="org.tura.metamodel.diagram.businessobjects.InitDiagram"
            nameFilter="*.domain"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="businessobjects.diagram.part.DomainInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.tura.metamodel.diagram.businessobjects.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="BusinessobjectsPresentation">
         <Priority name="Lowest"/>
         <ViewId id="businessobjects.diagram.part.BusinessobjectsDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="BusinessobjectsPresentationPrint">
         <Priority name="Lowest"/>
         <ViewId id="businessobjects.diagram.part.BusinessobjectsDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="BusinessobjectsPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="businessobjects.diagram.part.BusinessobjectsDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="BusinessobjectsRender">
         <Priority name="Lowest"/>
         <ViewId id="businessobjects.diagram.part.BusinessobjectsDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="businessobjects.diagram.providers.DomainMarkerNavigationProvider">
         <MarkerType name="org.tura.metamodel.diagram.businessobjects.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="Domain Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="businessobjects.diagram.providers.DomainValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="businessobjects.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="org.tura.metamodel.diagram.general"
            name="%prefpage.org.tura.metamodel.diagram.general"
            class="businessobjects.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="org.tura.metamodel.diagram.appearance"
            name="%prefpage.org.tura.metamodel.diagram.appearance"
            category="org.tura.metamodel.diagram.general"
            class="businessobjects.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="org.tura.metamodel.diagram.connections"
            name="%prefpage.org.tura.metamodel.diagram.connections"
            category="org.tura.metamodel.diagram.general"
            class="businessobjects.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="org.tura.metamodel.diagram.printing"
            name="%prefpage.org.tura.metamodel.diagram.printing"
            category="org.tura.metamodel.diagram.general"
            class="businessobjects.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="org.tura.metamodel.diagram.rulersAndGrid"
            name="%prefpage.org.tura.metamodel.diagram.rulersAndGrid"
            category="org.tura.metamodel.diagram.general"
            class="businessobjects.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.tura.metamodel.diagram.businessobjects"
            labelProvider="businessobjects.diagram.sheet.DomainSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.tura.metamodel.diagram.businessobjects">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.tura.metamodel.diagram.businessobjects">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="businessobjects.diagram.sheet.DomainPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="businessobjects.diagram.navigator.DomainAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="businessobjects.diagram.providers.DomainViewProvider">
         <Priority name="Lowest"/>
         <object id="referencing-diagrams" class="org.eclipse.gmf.runtime.notation.Diagram">
            <method name="getType()" value="domain"/>
         </object>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" containerViews="referencing-diagrams"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Businessobjects"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="602001,603001,603002,603007,603008,603009,603006"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="604001,604005,604004,604003"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="businessobjects.diagram.providers.DomainEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Businessobjects"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="602001,603001,603002,603007,603008,603009,603006"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="604001,604005,604004,604003"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="605007,605001,605002,605008,605009,605010,605006"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="607001,607002,607003,607004,607005,607006"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="businessobjects.diagram.providers.DomainModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="businessobjects.diagram.edit.parts.BusinessObjectsEditPart" id="BusinessObjects_601000"/>
         <object class="businessobjects.diagram.edit.parts.BusinessObjectEditPart" id="BusinessObject_602001"/>
         <context elements="BusinessObjects_601000,BusinessObject_602001"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="businessobjects.diagram.providers.DomainIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="businessobjects.diagram.providers.DomainParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders" id="decorator-provider">
      <?gmfgen generated="true"?>
      <decoratorProvider class="businessobjects.diagram.providers.DomainShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)" id="generated-top-nodes">
            <method name="getType()" value="602001"/>
         </object>
         <context decoratorTargets="generated-top-nodes"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.businessobjects.BusinessObjects_601000"
               name="%metatype.name.BusinessObjects_601000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="BusinessObjects"
               edithelper="businessobjects.diagram.edit.helpers.BusinessObjectsEditHelper">
            <param name="semanticHint" value="601000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.businessobjects.BusinessObject_602001"
               name="%metatype.name.BusinessObject_602001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="BusinessObject"
               edithelper="businessobjects.diagram.edit.helpers.BusinessObjectEditHelper">
            <param name="semanticHint" value="602001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.businessobjects.CreateMethod_603001"
               name="%metatype.name.CreateMethod_603001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CreateMethod"
               edithelper="businessobjects.diagram.edit.helpers.CreateMethodEditHelper">
            <param name="semanticHint" value="603001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.businessobjects.InsertMethod_603002"
               name="%metatype.name.InsertMethod_603002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InsertMethod"
               edithelper="businessobjects.diagram.edit.helpers.InsertMethodEditHelper">
            <param name="semanticHint" value="603002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.businessobjects.UpdateMethod_603007"
               name="%metatype.name.UpdateMethod_603007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="UpdateMethod"
               edithelper="businessobjects.diagram.edit.helpers.UpdateMethodEditHelper">
            <param name="semanticHint" value="603007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.businessobjects.RemoveMethod_603008"
               name="%metatype.name.RemoveMethod_603008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="RemoveMethod"
               edithelper="businessobjects.diagram.edit.helpers.RemoveMethodEditHelper">
            <param name="semanticHint" value="603008"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.businessobjects.SearchMethod_603009"
               name="%metatype.name.SearchMethod_603009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="SearchMethod"
               edithelper="businessobjects.diagram.edit.helpers.SearchMethodEditHelper">
            <param name="semanticHint" value="603009"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.businessobjects.OtherMethod_603006"
               name="%metatype.name.OtherMethod_603006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="OtherMethod"
               edithelper="businessobjects.diagram.edit.helpers.OtherMethodEditHelper">
            <param name="semanticHint" value="603006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.businessobjects.TypeExtension_604001"
               name="%metatype.name.TypeExtension_604001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="TypeExtension"
               edithelper="businessobjects.diagram.edit.helpers.TypeExtensionEditHelper">
            <param name="semanticHint" value="604001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <specializationType
               id="org.tura.metamodel.diagram.businessobjects.RecipeInfrastructures_604005"
               name="%metatype.name.RecipeInfrastructures_604005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="604005"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <specializationType
               id="org.tura.metamodel.diagram.businessobjects.InfrastructureRecipeConfig_604004"
               name="%metatype.name.InfrastructureRecipeConfig_604004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="604004"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <specializationType
               id="org.tura.metamodel.diagram.businessobjects.ConfigurationConfigExtension_604003"
               name="%metatype.name.ConfigurationConfigExtension_604003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="604003"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <!-- ITEMIS CHANGE: Singleton editing domain requires the use of the same ClientContext --> 
      <!-- <clientContext id="org.tura.metamodel.diagram.businessobjects.TypeContext"> -->
      <clientContext id="SharedClientContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.tura.metamodel.diagram.businessobjects.EditingDomain"/>
         </enablement>
      </clientContext> 
      <!-- ITEMIS CHANGE: Singleton editing domain requires the use of the same ClientContext --> 
      <!-- <binding context="org.tura.metamodel.diagram.businessobjects.TypeContext"> -->
      <binding context="SharedClientContext">
         <elementType ref="org.tura.metamodel.diagram.businessobjects.BusinessObjects_601000"/>
         <elementType ref="org.tura.metamodel.diagram.businessobjects.BusinessObject_602001"/>
         <elementType ref="org.tura.metamodel.diagram.businessobjects.CreateMethod_603001"/>
         <elementType ref="org.tura.metamodel.diagram.businessobjects.InsertMethod_603002"/>
         <elementType ref="org.tura.metamodel.diagram.businessobjects.UpdateMethod_603007"/>
         <elementType ref="org.tura.metamodel.diagram.businessobjects.RemoveMethod_603008"/>
         <elementType ref="org.tura.metamodel.diagram.businessobjects.SearchMethod_603009"/>
         <elementType ref="org.tura.metamodel.diagram.businessobjects.OtherMethod_603006"/>
         <elementType ref="org.tura.metamodel.diagram.businessobjects.TypeExtension_604001"/>
         <elementType ref="org.tura.metamodel.diagram.businessobjects.RecipeInfrastructures_604005"/>
         <elementType ref="org.tura.metamodel.diagram.businessobjects.InfrastructureRecipeConfig_604004"/>
         <elementType ref="org.tura.metamodel.diagram.businessobjects.ConfigurationConfigExtension_604003"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.tura.metamodel.diagram.businessobjects.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.tura.metamodel.diagram.businessobjects"
           properties="isURIEditorInput"
           class="businessobjects.diagram.part.DomainUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isShortcut">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.tura.metamodel.diagram.businessobjects.ShortcutPropertyTester"
           type="org.eclipse.gmf.runtime.notation.View"
           namespace="org.tura.metamodel.diagram.businessobjects"
           properties="isShortcut"
           class="businessobjects.diagram.part.DomainShortcutPropertyTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.tura.metamodel.diagram.businessobjects.resourceContent"/>
			<contentExtension pattern="org.tura.metamodel.diagram.businessobjects.domainResourceContent"/>
            <contentExtension pattern="org.tura.metamodel.diagram.businessobjects.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.tura.metamodel.diagram.businessobjects.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.tura.metamodel.diagram.businessobjects.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="businessobjects.diagram.navigator.DomainNavigatorContentProvider" 
            labelProvider="businessobjects.diagram.navigator.DomainNavigatorLabelProvider"
            icon="icons/obj16/DomainDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="businessobjects_diagram"/>
               </and>
               <instanceof value="businessobjects.diagram.navigator.DomainAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.tura.metamodel.diagram.businessobjects.isShortcut"/>
           	   </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="businessobjects.diagram.navigator.DomainAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.tura.metamodel.diagram.businessobjects.isShortcut"/>
           	   </adapt>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.tura.metamodel.diagram.businessobjects.navigatorSorter" 
               class="businessobjects.diagram.navigator.DomainNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="businessobjects_diagram"/>
                  </and>
                  <instanceof value="businessobjects.diagram.navigator.DomainAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.tura.metamodel.diagram.businessobjects.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="businessobjects.diagram.navigator.DomainDomainNavigatorContentProvider" 
            labelProvider="businessobjects.diagram.navigator.DomainDomainNavigatorLabelProvider"
            icon="icons/obj16/DomainDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="domain"/>
               </and>
               <instanceof value="businessobjects.diagram.navigator.DomainDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="businessobjects.diagram.navigator.DomainDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.tura.metamodel.diagram.businessobjects.navigatorActionProvider"
            class="businessobjects.diagram.navigator.DomainNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="businessobjects.diagram.navigator.DomainAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.tura.metamodel.diagram.businessobjects.isShortcut"/>
           	   </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.tura.metamodel.diagram.businessobjects.navigatorLinkHelper"
            class="businessobjects.diagram.navigator.DomainNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.tura.metamodel.diagram.businessobjects.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="businessobjects.diagram.navigator.DomainAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="businessobjects.diagram.part.DomainDiagramUpdateCommand"
         description="%update.diagram.description"
         id="businessobjects.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="businessobjects.diagram.updateDiagram"
         contextId="businessobjects.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="org.tura.metamodel.diagram.businessobjects.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="businessobjects.diagram.part.BusinessobjectsDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="businessobjects.diagram.edit.parts.BusinessObjectsEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="businessobjects.diagram.part.BusinessobjectsDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="org.tura.metamodel.diagram.businessobjects.LoadResourceAction"
         name="Load Resource"
         categoryId="businessobjects.diagram.part.BusinessobjectsDiagramEditorID"
         defaultHandler="businessobjects.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->


    <extension
         point="org.eclipse.emf.transaction.editingDomains">
      <!-- ITEMIS CHANGE: register diagram editing domain factory --> 
      <editingDomain
            factory="org.eclipse.gmf.runtime.diagram.core.DiagramEditingDomainFactory"
            id="org.tura.metamodel.diagram.businessobjects.EditingDomain">
      </editingDomain>
   </extension>
</plugin>
