<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


	<!-- ======================================================== -->
	<!-- New Wizards -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.eclipse.wb.xwt" name="XWT"
			parentCategory="org.eclipse.wb/org.eclipse.wb.rcp"/>
		<wizard name="Tura Window" icon="icons/wizard/Window/wizard.gif"
			category="org.eclipse.wb/org.eclipse.wb.rcp/org.eclipse.wb.xwt"
			class="org.eclipse.wb.elsoft.internal.wizards.WindowWizard"
			id="org.eclipse.wb.xwt.wizards.ApplicationWizard">
			<description>Create Tura Window</description>
		</wizard>
		<wizard name="Tura Stackable Canvas" icon="icons/wizard/Canvas/wizard.gif"
			category="org.eclipse.wb/org.eclipse.wb.rcp/org.eclipse.wb.xwt"
			class="org.eclipse.wb.elsoft.internal.wizards.StackableCanvasWizard"
			id="org.eclipse.wb.elsoft.wizards.StackableCanvasWizard">
			<description>Create Tura Stackable Canvas</description>
		</wizard>

		<wizard name="Tura Tab Canvas" icon="icons/wizard/Canvas/wizard.gif"
			category="org.eclipse.wb/org.eclipse.wb.rcp/org.eclipse.wb.xwt"
			class="org.eclipse.wb.elsoft.internal.wizards.TabCanvasWizard"
			id="org.eclipse.wb.elsoft.wizards.TabCanvasWizard">
			<description>Create Tura Tab Canvas</description>
		</wizard>

	</extension>



	<extension point="org.eclipse.wb.core.toolkits">
		<toolkit id="org.eclipse.wb.rcp">
        <classLoader-bundle
              bundle="org.eclipse.wb.elsoft.components"
              namespaces="org.eclipse.wb.elsoft.components.">
        </classLoader-bundle>		
			<resourcePrefixes>
				<resourcePrefix>org.eclipse.wb.elsoft.components.</resourcePrefix>
			</resourcePrefixes>
			<palette>
				<category id="org.eclipse.wb.elsoft.components" name="ELsoft" description="ELsoft components">
					<component class="org.eclipse.wb.elsoft.components.DataDefinition"/>
					<component class="org.eclipse.wb.elsoft.components.FormParameter"/>
					<component class="org.eclipse.wb.elsoft.components.Relation"/>
					<component class="org.eclipse.wb.elsoft.components.DataControl"/>
					<component class="org.eclipse.wb.elsoft.components.ArtificialField"/>
					<component class="org.eclipse.wb.elsoft.components.Link"/>
					<component class="org.eclipse.wb.elsoft.components.DefaultOrderBy"/>
					<component class="org.eclipse.wb.elsoft.components.DefaultSearch"/>
					<component class="org.eclipse.wb.elsoft.components.Trigger"/>
					<component class="org.eclipse.wb.elsoft.components.MetaTable"/>
					<component class="org.eclipse.wb.elsoft.components.MetaTableColumn"/>
					<component class="org.eclipse.wb.elsoft.components.MetaInputText"/>
					<component class="org.eclipse.wb.elsoft.components.MetaOutputText"/>
					<component class="org.eclipse.wb.elsoft.components.MetaTree"/>
					<component class="org.eclipse.wb.elsoft.components.MetaTreeColumn"/>
					<component class="org.eclipse.wb.elsoft.components.MetaDropDown"/>
					<component class="org.eclipse.wb.elsoft.components.MetaAction"/>
					<component class="org.eclipse.wb.elsoft.components.MetaLOV"/>
					<component class="org.eclipse.wb.elsoft.components.MetaCheckbox"/>
					<component class="org.eclipse.wb.elsoft.components.MetaButton" creationId="radio"/>
					<component class="org.eclipse.wb.elsoft.components.ViewPort"/>
					<component class="org.eclipse.wb.elsoft.components.MetaLabel"/>
					<component class="org.eclipse.wb.elsoft.components.LovDisplayField"/>
					<component class="org.eclipse.wb.elsoft.components.LovReturnField"/>
					<component class="org.eclipse.wb.elsoft.components.MetaFieldSet"/>
					<component class="org.eclipse.wb.elsoft.components.MetaComposite"/>
					<component class="org.eclipse.wb.elsoft.components.DrugAndDrop"/>
					<component class="org.eclipse.wb.elsoft.components.MetaImage"/>
					<component class="org.eclipse.wb.elsoft.components.Dependency"/>
					<component class="org.eclipse.wb.elsoft.components.SecurityTrigger"/>
					<!--component class="org.eclipse.wb.elsoft.components.MetaTabFolder"/-->
					<component class="org.eclipse.wb.elsoft.components.MetaTabItem"/>
					<component class="org.eclipse.wb.elsoft.components.TabCanvas"/>
					<component class="org.eclipse.wb.elsoft.components.StackableCanvas"/>


				</category>
			</palette>
		</toolkit>
     </extension>
</plugin>
