<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.ewl.emf.wizards">
      <wizards
            file="wizards/populateRecipeConfiguration.ewl"
            namespaceURI="http://tura.org/2013/v1/domain">
      </wizards>
   </extension>
   <extension
         point="org.eclipse.epsilon.common.dt.tool">
      <tool
            class="org.tura.metamodel.wizard.recipe.configuration.ConfigVarDialog"
            defaultName="ConfigVarDialog"> 
      
      </tool>
   </extension>

</plugin>


