<plugin>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.tura.metamodel.diagram.typedefinition">
          <propertyTab
             category="domain"
             id="property.tab.domain.custom"
             label="Type ref"/>
      </propertyTabs>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.tura.metamodel.diagram.typedefinition">
          <propertySection
               tab="property.tab.domain.custom"
               class="org.metamodel.tura.ui.properties.sections.PackageNamePropertySection"
               id="org.tura.metamodel.typedefinition.package.reference">
             <input type="typedefinition.diagram.edit.parts.TypeReferenceEditPart"/>
              <input type="typedefinition.diagram.edit.parts.AttributeEditPart"/>
              <input type="typedefinition.diagram.edit.parts.ParameterEditPart"/>
              <input type="typedefinition.diagram.edit.parts.ReturnValueEditPart"/>
           </propertySection>        
 
          <propertySection
               tab="property.tab.domain.custom"
               class="org.metamodel.tura.ui.properties.sections.TypeNamePropertySection"
               id="org.tura.metamodel.typedefinition.type.reference">
              <input type="typedefinition.diagram.edit.parts.TypeReferenceEditPart"/>
              <input type="typedefinition.diagram.edit.parts.AttributeEditPart"/>
              <input type="typedefinition.diagram.edit.parts.ParameterEditPart"/>
              <input type="typedefinition.diagram.edit.parts.ReturnValueEditPart"/>
         </propertySection>        
  
    </propertySections>
  </extension>  

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.tura.metamodel.diagram.businessobjects">
          <propertyTab
             category="domain"
             id="property.tab.domain.custom"
             label="Type ref"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.tura.metamodel.diagram.businessobjects">
      
          <propertySection
               tab="property.tab.domain.custom"
               class="org.metamodel.tura.ui.properties.sections.PackageNamePropertySection"
               id="org.tura.metamodel.businessobjects.create">
              <input type="businessobjects.diagram.edit.parts.CreateMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.InsertMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.UpdateMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.RemoveMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.SearchMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.OtherMethodEditPart"/>
           </propertySection>        
 
          <propertySection
               tab="property.tab.domain.custom"
               class="org.metamodel.tura.ui.properties.sections.TypeNamePropertySection"
               id="org.tura.metamodel.businessobjects.insert">
              <input type="businessobjects.diagram.edit.parts.CreateMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.InsertMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.UpdateMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.RemoveMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.SearchMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.OtherMethodEditPart"/>
         </propertySection>        
 

          <propertySection
               tab="property.tab.domain.custom"
               class="org.metamodel.tura.ui.properties.sections.MethodNamePropertySection"
               id="org.tura.metamodel.businessobjects.update">
              <input type="businessobjects.diagram.edit.parts.CreateMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.InsertMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.UpdateMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.RemoveMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.SearchMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.OtherMethodEditPart"/>
         </propertySection>        

    </propertySections>
  </extension>  

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.tura.metamodel.diagram.artifact">
          <propertyTab
             category="domain"
             id="property.tab.domain.custom"
             label="Type ref"/>
      </propertyTabs>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.tura.metamodel.diagram.artifact">
      
          <propertySection
               tab="property.tab.domain.custom"
               class="org.metamodel.tura.ui.properties.sections.OptionPropertySelection"
               id="org.tura.metamodel.artifact.create">
              <input type="artifact.diagram.edit.parts.SpecifierEditPart"/>
           </propertySection>        
 
    </propertySections>
  </extension>  





</plugin>