<plugin>

   <extension
         point="org.eclipse.epsilon.common.dt.tool">
      <tool
            class="org.tura.metamodel.commons.QueryHelper"
            defaultName="QueryHelper">
      </tool>
   </extension>

   
    <extension
         point="org.eclipse.epsilon.common.dt.tool">
      <tool
            class="org.tura.metamodel.commons.Util"
            defaultName="Util"> 
      </tool>
   </extension>

   <extension   point="org.eclipse.core.runtime.adapters">
      <factory  adaptableType="org.tura.metamodel.commons.properties.selections.adapters.helper.TreeRoot"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>
      <factory  adaptableType="domain.Controls"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>
      <factory  adaptableType="domain.DataControl"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>
      <factory  adaptableType="org.tura.metamodel.commons.properties.selections.adapters.helper.TriggerHolder"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>
      <factory  adaptableType="domain.TypeElement"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>
     <factory  adaptableType="domain.Attribute"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>
     <factory  adaptableType="domain.Operation"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>
     <factory  adaptableType="domain.Types"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>
     <factory  adaptableType="domain.Package"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>
     <factory  adaptableType="domain.ApplicationRole"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>
     <factory  adaptableType="domain.Role"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>
     <factory  adaptableType="domain.Group"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>

     <factory  adaptableType="domain.MessageLibrary"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>

     <factory  adaptableType="domain.Message"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>

     <factory  adaptableType="domain.Messages"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>


     <factory  adaptableType="domain.DomainArtifacts"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>

     <factory  adaptableType="domain.DomainArtifact"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>

     <factory  adaptableType="domain.Artifact"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>

     <factory  adaptableType="domain.GenerationHint"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>

      <factory  adaptableType="org.tura.metamodel.commons.properties.selections.adapters.helper.DataControlFakeAttribute"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>

      <factory  adaptableType="org.tura.metamodel.commons.properties.selections.adapters.helper.DataControlFakeMethod"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>

</extension>
</plugin>