<plugin>

   <extension
         point="org.eclipse.epsilon.common.dt.tool">
      <tool
            class="org.metamodel.tura.ui.properties.sections.QueryHelper"
            defaultName="QueryHelper">
      </tool>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.tura.metamodel.diagram.typedefinition">
          <propertyTab
             category="domain"
             id="property.tab.domain.type"
             label="Type ref"/>
      </propertyTabs>
      
      <propertyTabs contributorId="org.tura.metamodel.diagram.typedefinition">
          <propertyTab
             category="domain"
             id="property.tab.domain.typeref"
             label="Type ref"/>
      </propertyTabs>
      
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.tura.metamodel.diagram.typedefinition">
          <propertySection
               tab="property.tab.domain.type"
               class="org.metamodel.tura.ui.properties.sections.PackageNamePropertySection"
               id="org.tura.metamodel.typedefinition.package.reference">
              <input type="typedefinition.diagram.edit.parts.AttributeEditPart"/>
              <input type="typedefinition.diagram.edit.parts.ParameterEditPart"/>
              <input type="typedefinition.diagram.edit.parts.ReturnValueEditPart"/>
           </propertySection>        
 
          <propertySection
               tab="property.tab.domain.type"
               class="org.metamodel.tura.ui.properties.sections.TypeNamePropertySection"
               id="org.tura.metamodel.typedefinition.type.reference">
              <input type="typedefinition.diagram.edit.parts.AttributeEditPart"/>
              <input type="typedefinition.diagram.edit.parts.ParameterEditPart"/>
              <input type="typedefinition.diagram.edit.parts.ReturnValueEditPart"/>
         </propertySection>        
  

          <propertySection
               tab="property.tab.domain.typeref"
               class="org.metamodel.tura.ui.properties.sections.PackageNamePropertySection"
               id="org.tura.metamodel.typedefinition.typereference.package.reference">
             <input type="typedefinition.diagram.edit.parts.TypeReferenceEditPart"/>
           </propertySection>        

          <propertySection
               tab="property.tab.domain.typeref"
               class="org.metamodel.tura.ui.properties.sections.TypeRefTypeNamePropertySection"
               id="org.tura.metamodel.typedefinition.typereference.type.typereference">
              <input type="typedefinition.diagram.edit.parts.TypeReferenceEditPart"/>
         </propertySection>        



    </propertySections>
  </extension>  

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.tura.metamodel.diagram.businessobjects">
          <propertyTab
             category="domain"
             id="property.tab.domain.custom"
             label="Type ref"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.tura.metamodel.diagram.businessobjects">
      
          <propertySection
               tab="property.tab.domain.custom"
               class="org.metamodel.tura.ui.properties.sections.PackageNamePropertySection"
               id="org.tura.metamodel.businessobjects.create">
              <input type="businessobjects.diagram.edit.parts.CreateMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.InsertMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.UpdateMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.RemoveMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.SearchMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.OtherMethodEditPart"/>
           </propertySection>        
 
          <propertySection
               tab="property.tab.domain.custom"
               class="org.metamodel.tura.ui.properties.sections.TypeRefTypeNamePropertySection"
               id="org.tura.metamodel.businessobjects.insert">
              <input type="businessobjects.diagram.edit.parts.CreateMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.InsertMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.UpdateMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.RemoveMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.SearchMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.OtherMethodEditPart"/>
         </propertySection>        
 

          <propertySection
               tab="property.tab.domain.custom"
               class="org.metamodel.tura.ui.properties.sections.MethodNamePropertySection"
               id="org.tura.metamodel.businessobjects.update">
              <input type="businessobjects.diagram.edit.parts.CreateMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.InsertMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.UpdateMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.RemoveMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.SearchMethodEditPart"/>
              <input type="businessobjects.diagram.edit.parts.OtherMethodEditPart"/>
         </propertySection>        

    </propertySections>
  </extension>  

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.tura.metamodel.diagram.artifact">
          <propertyTab
             category="domain"
             id="property.tab.domain.specifierOptions"
             label="Specifier options"/>
      </propertyTabs>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.tura.metamodel.diagram.artifact">
      
          <propertySection
               tab="property.tab.domain.specifierOptions"
               class="org.metamodel.tura.ui.properties.sections.OptionPropertySelection"
               id="org.tura.metamodel.artifact.option">
              <input type="artifact.diagram.edit.parts.SpecifierEditPart"/>
           </propertySection>        
 
    </propertySections>
  </extension>  


   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.tura.metamodel.diagram.mapper">
          <propertyTab
             category="domain"
             id="property.tab.domain.typeReference"
             label="Mapped type"/>
      </propertyTabs>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.tura.metamodel.diagram.mapper">
      
          <propertySection
               tab="property.tab.domain.typeReference"
               class="org.metamodel.tura.ui.properties.sections.AbstractTypeNamePropertySection"
               id="org.tura.metamodel.mapper.typeName">
              <input type="mapper.diagram.edit.parts.JavaMapperEditPart"/>
         </propertySection>        
 
          <propertySection
               tab="property.tab.domain.typeReference"
               class="org.metamodel.tura.ui.properties.sections.PackageNamePropertySection"
               id="org.tura.metamodel.mapper.packageName">
              <input type="mapper.diagram.edit.parts.JavaMapperEditPart"/>
         </propertySection>        

    </propertySections>
  </extension>  


   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.tura.metamodel.diagram.recipe">
          <propertyTab
             category="domain"
             id="property.tab.domain.availableMappers"
             label="Available mappers"/>

          <propertyTab
             category="domain"
             id="property.tab.domain.selectArtifact"
             label="Select Artifact"/>

          <propertyTab
             category="domain"
             id="property.tab.domain.mappingSpecifier"
             label="Mapping Specifier"/>

          <propertyTab
             category="domain"
             id="property.tab.domain.mappingVariable"
             label="Model query parameters"/>
      </propertyTabs>

   </extension>


   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.tura.metamodel.diagram.recipe">
      
          <propertySection
               tab="property.tab.domain.availableMappers"
               class="org.metamodel.tura.ui.properties.sections.RecipeMappersListPropertySelection"
               id="org.tura.metamodel.mapper.recipe">
              <input type="recipe.diagram.edit.parts.RecipeEditPart"/>
         </propertySection>        

          <propertySection
               tab="property.tab.domain.availableMappers"
               class="org.metamodel.tura.ui.properties.sections.IngredientMappersListPropertySelection"
               id="org.tura.metamodel.mapper.ingredient">
              <input type="recipe.diagram.edit.parts.IngredientEditPart"/>
         </propertySection>        
         
         <propertySection
               tab="property.tab.domain.selectArtifact"
               class="org.metamodel.tura.ui.properties.sections.DomainArtifactPropertySelection"
               id="org.tura.metamodel.mapper.domainArtifact">
              <input type="recipe.diagram.edit.parts.ModelMapperEditPart"/>
         </propertySection>        
         
         <propertySection
               tab="property.tab.domain.selectArtifact"
               class="org.metamodel.tura.ui.properties.sections.ArtifactPropertySelection"
               id="org.tura.metamodel.mapper.artifact">
              <input type="recipe.diagram.edit.parts.ModelMapperEditPart"/>
         </propertySection>        
         
         <propertySection
               tab="property.tab.domain.mappingSpecifier"
               class="org.metamodel.tura.ui.properties.sections.MappingSpecifierPropertySelection"
               id="org.tura.metamodel.mapper.mappingSpecifier">
              <input type="recipe.diagram.edit.parts.ModelMapperEditPart"/>
         </propertySection>        

         <propertySection
               tab="property.tab.domain.mappingVariable"
               class="org.metamodel.tura.ui.properties.sections.MappingVariablePropertySelection"
               id="org.tura.metamodel.mapper.mappingVariable">
              <input type="recipe.diagram.edit.parts.ModelMapperEditPart"/>
         </propertySection>        


    </propertySections>
  </extension>  


</plugin>