<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.commands">
      <category
            name="Metamodel category"
            id="org.eclipse.wb.elsoft.commands.category">
      </category>
      <command
            name="Save form"
            categoryId="org.eclipse.wb.elsoft.commands.category"
            id="org.eclipse.wb.elsoft.commands.saveForm">
      </command>
      
      <command
            name="Generate form"
            categoryId="org.eclipse.wb.elsoft.commands.category"
            id="org.eclipse.wb.elsoft.commands.generateForm">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.wb.elsoft.commands.saveForm"
            class="org.eclipse.wb.elsoft.menucontribution.handlers.SaveFormHandler">
      </handler>
      <handler
            commandId="org.eclipse.wb.elsoft.commands.generateForm"
            class="org.eclipse.wb.elsoft.menucontribution.handlers.GenerateFormHandler">
      </handler>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.wb.elsoft.commands.saveForm"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="org.eclipse.wb.elsoft.commands.generateForm"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:filelars?after=additions">
         <menu
               label="Metamodel menu"
               mnemonic="M"
               id="org.eclipse.wb.elsoft.menucontribution.menus.metamodelMenu">
            <command
                  commandId="org.eclipse.wb.elsoft.commands.saveForm"
                  mnemonic="S"
                  id="org.eclipse.wb.elsoft.menucontribution.menus.saveFormCommand">
            </command>
            <command
                  commandId="org.eclipse.wb.elsoft.commands.generateForm"
                  mnemonic="SS"
                  id="org.eclipse.wb.elsoft.menucontribution.menus.generateFormCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.wb.elsoft.menucontribution.toolbars.metamodelToolbar">
            <command
                  commandId="org.eclipse.wb.elsoft.commands.saveForm"
                  icon="icons/sample.gif"
                  tooltip="Save form"
                  id="org.eclipse.wb.elsoft.menucontribution.toolbars.saveFormCommand">
            </command>
            <command
                  commandId="org.eclipse.wb.elsoft.commands.generateForm"
                  icon="icons/sample.gif"
                  tooltip="Generate form"
                  id="org.eclipse.wb.elsoft.menucontribution.toolbars.generateFormCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
