<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Tura - application generation platform
   
    Copyright (c) 2012, 2015, Arseniy Isakov
     
    This project includes software developed by Arseniy Isakov
    http://sourceforge.net/p/tura/wiki/Home/
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
 -->

<!--

-->
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="control_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="control_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="control.diagram.part.ControlDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/DomainDiagramFile.gif"
         extensions="control_diagram"
         default="true"
         class="control.diagram.part.DomainDiagramEditor"
         matchingStrategy="control.diagram.part.DomainMatchingStrategy"
         contributorClass="control.diagram.part.DomainDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="control.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/DomainDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="control.diagram.part.DomainCreationWizard"
  	     id="control.diagram.part.DomainCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="org.tura.metamodel.diagram.control.InitDiagram"
            nameFilter="*.domain"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="control.diagram.part.DomainInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.tura.metamodel.diagram.control.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="ControlPresentation">
         <Priority name="Lowest"/>
         <ViewId id="control.diagram.part.ControlDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="ControlPresentationPrint">
         <Priority name="Lowest"/>
         <ViewId id="control.diagram.part.ControlDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="ControlPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="control.diagram.part.ControlDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="ControlRender">
         <Priority name="Lowest"/>
         <ViewId id="control.diagram.part.ControlDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="control.diagram.providers.DomainMarkerNavigationProvider">
         <MarkerType name="org.tura.metamodel.diagram.control.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="Domain Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="control.diagram.providers.DomainValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="control.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="org.tura.metamodel.diagram.general"
            name="%prefpage.org.tura.metamodel.diagram.general"
            class="control.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="org.tura.metamodel.diagram.appearance"
            name="%prefpage.org.tura.metamodel.diagram.appearance"
            category="org.tura.metamodel.diagram.general"
            class="control.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="org.tura.metamodel.diagram.connections"
            name="%prefpage.org.tura.metamodel.diagram.connections"
            category="org.tura.metamodel.diagram.general"
            class="control.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="org.tura.metamodel.diagram.printing"
            name="%prefpage.org.tura.metamodel.diagram.printing"
            category="org.tura.metamodel.diagram.general"
            class="control.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="org.tura.metamodel.diagram.rulersAndGrid"
            name="%prefpage.org.tura.metamodel.diagram.rulersAndGrid"
            category="org.tura.metamodel.diagram.general"
            class="control.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.tura.metamodel.diagram.control"
            labelProvider="control.diagram.sheet.DomainSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.tura.metamodel.diagram.control">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.tura.metamodel.diagram.control">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="control.diagram.sheet.DomainPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="control.diagram.navigator.DomainAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="control.diagram.providers.DomainViewProvider">
         <Priority name="Lowest"/>
         <object id="referencing-diagrams" class="org.eclipse.gmf.runtime.notation.Diagram">
            <method name="getType()" value="domain"/>
         </object>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" containerViews="referencing-diagrams"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Control"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="1102001,1102002,1103001,1103017,1103002,1103003,1103004,1103005,1103011,1103010,1103012,1103013,1103014,1103015,1103016,1103008"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="1104009,1104010"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="control.diagram.providers.DomainEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Control"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="1102001,1102002,1103001,1103017,1103002,1103003,1103004,1103005,1103011,1103010,1103012,1103013,1103014,1103015,1103016,1103008"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="1104009,1104010"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="1105002,1105007,1105001,1105019,1105003,1105004,1105005,1105006,1105013,1105012,1105014,1105015,1105016,1105017,1105018,1105010"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="1107001,1107014,1107002,1107003,1107004,1107005,1107006,1107007,1107008,1107009,1107010,1107011,1107012,1107013"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="control.diagram.providers.DomainModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="control.diagram.edit.parts.ControlsEditPart" id="Controls_1101000"/>
         <object class="control.diagram.edit.parts.RootEditPart" id="Root_1102001"/>
         <object class="control.diagram.edit.parts.DataControlEditPart" id="DataControl_1102002"/>
         <context elements="Controls_1101000,Root_1102001,DataControl_1102002"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="control.diagram.providers.DomainIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="control.diagram.providers.DomainParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders" id="decorator-provider">
      <?gmfgen generated="true"?>
      <decoratorProvider class="control.diagram.providers.DomainShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)" id="generated-top-nodes">
            <method name="getType()" value="1102001,1102002"/>
         </object>
         <context decoratorTargets="generated-top-nodes"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.control.Controls_1101000"
               name="%metatype.name.Controls_1101000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Controls"
               edithelper="control.diagram.edit.helpers.ControlsEditHelper">
            <param name="semanticHint" value="1101000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.control.Root_1102001"
               name="%metatype.name.Root_1102001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Root"
               edithelper="control.diagram.edit.helpers.RootEditHelper">
            <param name="semanticHint" value="1102001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.control.DataControl_1102002"
               name="%metatype.name.DataControl_1102002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DataControl"
               edithelper="control.diagram.edit.helpers.DataControlEditHelper">
            <param name="semanticHint" value="1102002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.control.PREFormTrigger_1103001"
               name="%metatype.name.PREFormTrigger_1103001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="PREFormTrigger"
               edithelper="control.diagram.edit.helpers.PREFormTriggerEditHelper">
            <param name="semanticHint" value="1103001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.control.FormVariable_1103017"
               name="%metatype.name.FormVariable_1103017"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="FormVariable"
               edithelper="control.diagram.edit.helpers.FormVariableEditHelper">
            <param name="semanticHint" value="1103017"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.control.PREQueryTrigger_1103002"
               name="%metatype.name.PREQueryTrigger_1103002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="PREQueryTrigger"
               edithelper="control.diagram.edit.helpers.PREQueryTriggerEditHelper">
            <param name="semanticHint" value="1103002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.control.POSTQueryTrigger_1103003"
               name="%metatype.name.POSTQueryTrigger_1103003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="POSTQueryTrigger"
               edithelper="control.diagram.edit.helpers.POSTQueryTriggerEditHelper">
            <param name="semanticHint" value="1103003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.control.PREInsertTrigger_1103004"
               name="%metatype.name.PREInsertTrigger_1103004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="PREInsertTrigger"
               edithelper="control.diagram.edit.helpers.PREInsertTriggerEditHelper">
            <param name="semanticHint" value="1103004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.control.PREDeleteTrigger_1103005"
               name="%metatype.name.PREDeleteTrigger_1103005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="PREDeleteTrigger"
               edithelper="control.diagram.edit.helpers.PREDeleteTriggerEditHelper">
            <param name="semanticHint" value="1103005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.control.POSTCreateTrigger_1103011"
               name="%metatype.name.POSTCreateTrigger_1103011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="POSTCreateTrigger"
               edithelper="control.diagram.edit.helpers.POSTCreateTriggerEditHelper">
            <param name="semanticHint" value="1103011"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.control.PREUpdateTrigger_1103010"
               name="%metatype.name.PREUpdateTrigger_1103010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="PREUpdateTrigger"
               edithelper="control.diagram.edit.helpers.PREUpdateTriggerEditHelper">
            <param name="semanticHint" value="1103010"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.control.CreateTrigger_1103012"
               name="%metatype.name.CreateTrigger_1103012"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CreateTrigger"
               edithelper="control.diagram.edit.helpers.CreateTriggerEditHelper">
            <param name="semanticHint" value="1103012"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.control.InsertTrigger_1103013"
               name="%metatype.name.InsertTrigger_1103013"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InsertTrigger"
               edithelper="control.diagram.edit.helpers.InsertTriggerEditHelper">
            <param name="semanticHint" value="1103013"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.control.UpdateTrigger_1103014"
               name="%metatype.name.UpdateTrigger_1103014"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="UpdateTrigger"
               edithelper="control.diagram.edit.helpers.UpdateTriggerEditHelper">
            <param name="semanticHint" value="1103014"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.control.DeleteTrigger_1103015"
               name="%metatype.name.DeleteTrigger_1103015"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DeleteTrigger"
               edithelper="control.diagram.edit.helpers.DeleteTriggerEditHelper">
            <param name="semanticHint" value="1103015"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.control.SearchTrigger_1103016"
               name="%metatype.name.SearchTrigger_1103016"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="SearchTrigger"
               edithelper="control.diagram.edit.helpers.SearchTriggerEditHelper">
            <param name="semanticHint" value="1103016"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.control.ArtificialField_1103008"
               name="%metatype.name.ArtificialField_1103008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ArtificialField"
               edithelper="control.diagram.edit.helpers.ArtificialFieldEditHelper">
            <param name="semanticHint" value="1103008"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.control.Relation_1104009"
               name="%metatype.name.Relation_1104009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Relation"
               edithelper="control.diagram.edit.helpers.RelationEditHelper">
            <param name="semanticHint" value="1104009"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://tura.org/2013/v1/domain">
         <metamodelType
               id="org.tura.metamodel.diagram.control.Dependency_1104010"
               name="%metatype.name.Dependency_1104010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Dependency"
               edithelper="control.diagram.edit.helpers.DependencyEditHelper">
            <param name="semanticHint" value="1104010"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <!-- ITEMIS CHANGE: Singleton editing domain requires the use of the same ClientContext --> 
      <!-- <clientContext id="org.tura.metamodel.diagram.control.TypeContext"> -->
      <clientContext id="SharedClientContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.tura.metamodel.diagram.control.EditingDomain"/>
         </enablement>
      </clientContext> 
      <!-- ITEMIS CHANGE: Singleton editing domain requires the use of the same ClientContext --> 
      <!-- <binding context="org.tura.metamodel.diagram.control.TypeContext"> -->
      <binding context="SharedClientContext">
         <elementType ref="org.tura.metamodel.diagram.control.Controls_1101000"/>
         <elementType ref="org.tura.metamodel.diagram.control.Root_1102001"/>
         <elementType ref="org.tura.metamodel.diagram.control.DataControl_1102002"/>
         <elementType ref="org.tura.metamodel.diagram.control.PREFormTrigger_1103001"/>
         <elementType ref="org.tura.metamodel.diagram.control.FormVariable_1103017"/>
         <elementType ref="org.tura.metamodel.diagram.control.PREQueryTrigger_1103002"/>
         <elementType ref="org.tura.metamodel.diagram.control.POSTQueryTrigger_1103003"/>
         <elementType ref="org.tura.metamodel.diagram.control.PREInsertTrigger_1103004"/>
         <elementType ref="org.tura.metamodel.diagram.control.PREDeleteTrigger_1103005"/>
         <elementType ref="org.tura.metamodel.diagram.control.POSTCreateTrigger_1103011"/>
         <elementType ref="org.tura.metamodel.diagram.control.PREUpdateTrigger_1103010"/>
         <elementType ref="org.tura.metamodel.diagram.control.CreateTrigger_1103012"/>
         <elementType ref="org.tura.metamodel.diagram.control.InsertTrigger_1103013"/>
         <elementType ref="org.tura.metamodel.diagram.control.UpdateTrigger_1103014"/>
         <elementType ref="org.tura.metamodel.diagram.control.DeleteTrigger_1103015"/>
         <elementType ref="org.tura.metamodel.diagram.control.SearchTrigger_1103016"/>
         <elementType ref="org.tura.metamodel.diagram.control.ArtificialField_1103008"/>
         <elementType ref="org.tura.metamodel.diagram.control.Relation_1104009"/>
         <elementType ref="org.tura.metamodel.diagram.control.Dependency_1104010"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.tura.metamodel.diagram.control.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.tura.metamodel.diagram.control"
           properties="isURIEditorInput"
           class="control.diagram.part.DomainUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isShortcut">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.tura.metamodel.diagram.control.ShortcutPropertyTester"
           type="org.eclipse.gmf.runtime.notation.View"
           namespace="org.tura.metamodel.diagram.control"
           properties="isShortcut"
           class="control.diagram.part.DomainShortcutPropertyTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.tura.metamodel.diagram.control.resourceContent"/>
			<contentExtension pattern="org.tura.metamodel.diagram.control.domainResourceContent"/>
            <contentExtension pattern="org.tura.metamodel.diagram.control.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.tura.metamodel.diagram.control.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.tura.metamodel.diagram.control.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="control.diagram.navigator.DomainNavigatorContentProvider" 
            labelProvider="control.diagram.navigator.DomainNavigatorLabelProvider"
            icon="icons/obj16/DomainDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="control_diagram"/>
               </and>
               <instanceof value="control.diagram.navigator.DomainAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.tura.metamodel.diagram.control.isShortcut"/>
           	   </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="control.diagram.navigator.DomainAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.tura.metamodel.diagram.control.isShortcut"/>
           	   </adapt>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.tura.metamodel.diagram.control.navigatorSorter" 
               class="control.diagram.navigator.DomainNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="control_diagram"/>
                  </and>
                  <instanceof value="control.diagram.navigator.DomainAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.tura.metamodel.diagram.control.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="control.diagram.navigator.DomainDomainNavigatorContentProvider" 
            labelProvider="control.diagram.navigator.DomainDomainNavigatorLabelProvider"
            icon="icons/obj16/DomainDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="domain"/>
               </and>
               <instanceof value="control.diagram.navigator.DomainDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="control.diagram.navigator.DomainDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.tura.metamodel.diagram.control.navigatorActionProvider"
            class="control.diagram.navigator.DomainNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="control.diagram.navigator.DomainAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.tura.metamodel.diagram.control.isShortcut"/>
           	   </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.tura.metamodel.diagram.control.navigatorLinkHelper"
            class="control.diagram.navigator.DomainNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.tura.metamodel.diagram.control.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="control.diagram.navigator.DomainAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="control.diagram.part.DomainDiagramUpdateCommand"
         description="%update.diagram.description"
         id="control.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="control.diagram.updateDiagram"
         contextId="control.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="org.tura.metamodel.diagram.control.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="control.diagram.part.ControlDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="control.diagram.edit.parts.ControlsEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="control.diagram.part.ControlDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="org.tura.metamodel.diagram.control.LoadResourceAction"
         name="Load Resource"
         categoryId="control.diagram.part.ControlDiagramEditorID"
         defaultHandler="control.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->


    <extension
         point="org.eclipse.emf.transaction.editingDomains">
      <!-- ITEMIS CHANGE: register diagram editing domain factory --> 
      <editingDomain
            factory="org.eclipse.gmf.runtime.diagram.core.DiagramEditingDomainFactory"
            id="org.tura.metamodel.diagram.control.EditingDomain">
      </editingDomain>
   </extension>
</plugin>
