{
  "presets": ["es2015"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "sql-dsl": "./candies/js/ts-sql-dsl-2.0",
        "jdk": "./candies/js/j4ts-0.6.0-SNAPSHOT"
      }
    }]
  ]
}
