<!--
    Tura - application generation platform
   
    Copyright (c) 2012, 2015, Arseniy Isakov
     
    This project includes software developed by Arseniy Isakov
    http://sourceforge.net/p/tura/wiki/Home/
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
 -->
<plugin>

    <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.eclipse.sirius.diagram.ui">

       <propertyTab
             category="domain"
             id="tab.artifact.ModelQuery.QueryParameter"
             label="Query parameters"/>


       <propertyTab
             category="domain"
             id="tab.artifact.Technology.Options"
             label="Tech options"/>

       <propertyTab
             category="domain"
             id="tab.artifact.Artifact.GenerationHintsNickName"
             label="Hints"/>

       <propertyTab
             category="domain"
             id="tab.artifact.Artifact.ConfigVariablesNickName"
             label="Variables"/>


       <propertyTab
             category="domain"
             id="tab.artifact.Artifact.ConfigHashesNickName"
             label="Hashes"/>

       <propertyTab
             category="domain"
             id="tab.recipe.ModelMapper.Artifact"
             label="Artifact"/>

       <propertyTab
             category="domain"
             id="tab.recipe.Query"
             label="Query"/>


      </propertyTabs>

      
   </extension>
 
  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.QueryParameterPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.QueryParameterSectionFilter"
	            id="artifact.ModelQuery.QueryParameter"
	            tab="tab.artifact.ModelQuery.QueryParameter">
	      </propertySection>
	   </propertySections>
	</extension>


  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.GenerationHintsPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.GenerationHintSectionFilter"
	            id="artifact.Artifact.GenerationHintsNickName"
	            tab="tab.artifact.Artifact.GenerationHintsNickName">
	      </propertySection>
	   </propertySections>
	</extension>

  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.ConfigVariablePropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.GenerationHintSectionFilter"
	            id="artifact.Artifact.ConfigVariablesNickName"
	            tab="tab.artifact.Artifact.ConfigVariablesNickName">
	      </propertySection>
	   </propertySections>
	</extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.ConfigHashPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.GenerationHintSectionFilter"
	            id="artifact.Artifact.ConfigHashesNickName"
	            tab="tab.artifact.Artifact.ConfigHashesNickName">
	      </propertySection>
	   </propertySections>
	</extension>
	
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.TechologyPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.TechologySectionFilter"
	            id="artifact.Technology.Options"
	            tab="tab.artifact.Technology.Options">
	      </propertySection>
	   </propertySections>
	</extension>
	
	
	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.tree.impl.ArtifactPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.ModelMapperSectionFilter"
	            id="recipe.ModelMapper.ArtifactRef"
	            tab="tab.recipe.ModelMapper.Artifact">
	      </propertySection>
	   </propertySections>
	</extension>
	

	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.MappingTechnologiesPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.ModelMapperSectionFilter"
	            id="recipe.ModelMapper.MappingTechnologies"
	            tab="tab.recipe.ModelMapper.Artifact"
	            afterSection="recipe.ModelMapper.ArtifactRef">
	      </propertySection>
	   </propertySections>
	</extension>

	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.dropdown.QueryPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.QuerySectionFilter"
	            id="recipe.Query"
	            tab="tab.recipe.Query">
	      </propertySection>
	   </propertySections>
	</extension>

	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.QueryVariablePropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.QuerySectionFilter"
	            id="recipe.QueryVariables"
	            tab="tab.recipe.Query"
	            afterSection="recipe.Query">
	      </propertySection>
	   </propertySections>
	</extension>
	
</plugin>