<!--
    Tura - application generation platform
   
    Copyright (c) 2012, 2015, Arseniy Isakov
     
    This project includes software developed by Arseniy Isakov
    http://sourceforge.net/p/tura/wiki/Home/
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
 -->
<plugin>

    <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.tura.metamodel.sirius.properties.actions.ConfigVariablesAction"
            id="org.tura.metamodel.sirius.diagram.actions.ConfigVariablesActionID">
      </javaActions>
   </extension>


    <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.tura.metamodel.sirius.properties.actions.ConfigHashVariablesAction"
            id="org.tura.metamodel.sirius.diagram.actions.ConfigHashVariablesActionID">
      </javaActions>
   </extension>

    <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.tura.metamodel.sirius.properties.actions.DataControlCompressorCommandAction"
            id="org.tura.metamodel.sirius.diagram.actions.DataControlCompressorCommandActionID">
      </javaActions>
   </extension>

    <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.tura.metamodel.sirius.properties.actions.RunGenerationAction"
            id="org.tura.metamodel.sirius.properties.actions.RunGenerationActionID">
      </javaActions>
   </extension>

    <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.tura.metamodel.sirius.properties.actions.RunDeploymentAction"
            id="org.tura.metamodel.sirius.properties.actions.RunDeploymentActionID">
      </javaActions>
   </extension>

    <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.tura.metamodel.sirius.properties.actions.DataControlNestedCommandAction"
            id="org.tura.metamodel.sirius.diagram.actions.DataControlNestedCommandActionID">
      </javaActions>
   </extension>


    <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.tura.metamodel.sirius.properties.actions.AddDeploymentStepAction"
            id="org.tura.metamodel.sirius.diagram.actions.AddDeploymentStepActionID">
      </javaActions>
   </extension>


    <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabstable">
     <propertyTabs contributorId="org.eclipse.sirius.table.ui.EditorID">
          <propertyTab
             category="default"
             id="tab.table.mesage.Translation"
             label="Language"/>
             
      </propertyTabs>

   </extension>

  	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.table.ui.EditorID">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.dropdown.LanguagePropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.TranslationTableFilter"
	            id="table.mesage.Translation"
	            tab="tab.table.mesage.Translation">
	      </propertySection>
	   </propertySections>
	</extension>  


    <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabstree">
     <propertyTabs contributorId="org.eclipse.sirius.tree.ui.EditorID">
 
          <propertyTab
             category="default"
             id="tab.tree.mapper.MapperLayers"
             label="Mapping layer"/>


          <propertyTab
             category="default"
             id="tab.tree.type.TypePointer"
             label="Type"/>
             
          <propertyTab
             category="default"
             id="tab.tree.type.TypeGroup"
             label="Package"/>
             

          <propertyTab
             category="default"
             id="tab.tree.permission.SecurityEntityPointer"
             label="Permission"/>


          <propertyTab
             category="default"
             id="tab.tree.style.StyleLibrary"
             label="Style lib"/>

          <propertyTab
             category="default"
             id="tab.tree.application.Layers"
             label="Application Layers"/>


      </propertyTabs>

   </extension>
   
   
   
     <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.tree.ui.EditorID">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.MapperMappingLayerPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.MapperTreeFilter"
	            id="tree.mapper.MapperLayers"
	            tab="tab.tree.mapper.MapperLayers">
	      </propertySection>
	   </propertySections>
	</extension>      
   
     <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.tree.ui.EditorID">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.ApplicationLayerPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.ApplicationMappersTreeFilter"
	            id="tree.application.Layers"
	            tab="tab.tree.application.Layers">
	      </propertySection>
	   </propertySections>
	</extension>   
   
   
  	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.tree.ui.EditorID">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.tree.impl.StyleLibraryPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.StyleLibraryPointerTreeFilter"
	            id="tree.style.StyleLibrary"
	            tab="tab.tree.style.StyleLibrary">
	      </propertySection>
	   </propertySections>
	</extension>   
   
  	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.tree.ui.EditorID">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.tree.impl.SecuredElementPointerSelecton"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.SecuredElementPointerTreeFilter"
	            id="tree.permission.SecurityEntityPointer"
	            tab="tab.tree.permission.SecurityEntityPointer">
	      </propertySection>
	   </propertySections>
	</extension>
   
   
   
	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.tree.ui.EditorID">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.tree.impl.TypePropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.TypePointerSectionTreeFilter"
	            id="tree.tree.TypePointer"
	            tab="tab.tree.type.TypePointer">
	      </propertySection>
	   </propertySections>
	</extension>
	
	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.tree.ui.EditorID">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.tree.impl.TypeGroupPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.TypeGroupPointerSelectionTreeFilter"
	            id="tree.type.TypeGroup"
	            tab="tab.tree.type.TypeGroup">
	      </propertySection>
	   </propertySections>
	</extension>
	
	
    <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.eclipse.sirius.diagram.ui">

       <propertyTab
             category="domain"
             id="tab.artifact.ModelQuery.QueryParameter"
             label="Query parameters"/>


       <propertyTab
             category="domain"
             id="tab.artifact.Technology.Options"
             label="Tech options"/>

       <propertyTab
             category="domain"
             id="tab.artifact.Artifact.GenerationHintsNickName"
             label="Hints"/>

       <propertyTab
             category="domain"
             id="tab.artifact.Artifact.ConfigVariablesNickName"
             label="Variables"/>


       <propertyTab
             category="domain"
             id="tab.artifact.Artifact.ConfigHashesNickName"
             label="Hashes"/>


       <propertyTab
             category="domain"
             id="tab.recipe.Ingredient.VewLayer"
             label="View layers"/>

       <propertyTab
             category="domain"
             id="tab.recipe.Ingredient.ModelLayer"
             label="Model layers"/>

       <propertyTab
             category="domain"
             id="tab.recipe.Ingredient.ControllerLayer"
             label="Controller layers"/>


       <propertyTab
             category="domain"
             id="tab.recipe.ModelMapper.Artifact"
             label="Artifact"/>

       <propertyTab
             category="domain"
             id="tab.recipe.Query"
             label="Query"/>

      <propertyTab
             category="domain"
             id="tab.recipe.Mappers"
             label="Mappers"/>

     <propertyTab
             category="domain"
             id="tab.recipe.HashConfig"
             label="Hash config"/>

     <propertyTab
             category="domain"
             id="tab.type.TypePointer"
             label="Type"/>

    <propertyTab
             category="domain"
             id="tab.type.Operation"
             label="Operation"/>

    <propertyTab
             category="domain"
             id="tab.artifact.Categorized"
             label="Categorized"/>

    <propertyTab
             category="domain"
             id="tab.permission.Secured"
             label="Permission"/>

    <propertyTab
             category="domain"
             id="tab.type.Assosiation"
             label="Master - Detail"/>


    <propertyTab
             category="domain"
             id="tab.repository.SourcePointer"
             label="Attribute mapper"/>

    <propertyTab
             category="domain"
             id="tab.form.Trigger"
             label="Trigger"/>

    <propertyTab
             category="domain"
             id="tab.form.Trigger.Services"
             label="Services"/>

    <propertyTab
             category="domain"
             id="tab.form.FormVariable"
             label="Mapping parameters"/>

    <propertyTab
             category="domain"
             id="tab.form.DataContorol.baseType"
             label="Base type"/>

    <propertyTab
             category="domain"
             id="tab.form.DataContorol.DefaultSearch"
             label="Default search"/>

    <propertyTab
             category="domain"
             id="tab.form.DataContorol.OrderBy"
             label="Order By"/>


    <propertyTab
             category="domain"
             id="tab.form.Relation"
             label="Relation"/>


    <propertyTab
             category="domain"
             id="tab.form.MultiLangLabel"
             label="MultiLangLabel"/>


    <propertyTab
             category="domain"
             id="tab.form.Style"
             label="Style"/>

    <propertyTab
             category="domain"
             id="tab.form.FlexField"
             label="Flex field"/>


    <propertyTab
             category="domain"
             id="tab.form.Enabled"
             label="Enabled"/>

    <propertyTab
             category="domain"
             id="tab.form.ReadOnly"
             label="Read only"/>

    <propertyTab
             category="domain"
             id="tab.form.Required"
             label="Required"/>


    <propertyTab
             category="domain"
             id="tab.form.Icon"
             label="Icon"/>


    <propertyTab
             category="domain"
             id="tab.form.SourcePointer"
             label="Source pointer"/>


    <propertyTab
             category="domain"
             id="tab.form.DropDown"
             label="Options"/>

    <propertyTab
             category="domain"
             id="tab.form.DropDown.InitialMessage"
             label="Initial Message"/>

    <propertyTab
             category="domain"
             id="tab.form.UIelement.RefreshArias"
             label="Refresh arias"/>

    <propertyTab
             category="domain"
             id="tab.form.Menu"
             label="Menu"/>


   <propertyTab
             category="domain"
             id="tab.form.MenuExtensionPoint"
             label="Extension point"/>


      </propertyTabs>

      
   </extension>
 
 
 
 
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.dropdown.ExtensionPointPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.ExtensionPointSectionFilter"
	            id="form.MenuExtensionPoint"
	            tab="tab.form.MenuExtensionPoint">
	      </propertySection>
	   </propertySections>
	</extension>
 
 
  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.QueryParameterPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.QueryParameterSectionFilter"
	            id="artifact.ModelQuery.QueryParameter"
	            tab="tab.artifact.ModelQuery.QueryParameter">
	      </propertySection>
	   </propertySections>
	</extension>


  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.GenerationHintsPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.GenerationHintSectionFilter"
	            id="artifact.Artifact.GenerationHintsNickName"
	            tab="tab.artifact.Artifact.GenerationHintsNickName">
	      </propertySection>
	   </propertySections>
	</extension>

  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.ConfigVariablePropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.GenerationHintSectionFilter"
	            id="artifact.Artifact.ConfigVariablesNickName"
	            tab="tab.artifact.Artifact.ConfigVariablesNickName">
	      </propertySection>
	   </propertySections>
	</extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.ConfigHashPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.GenerationHintSectionFilter"
	            id="artifact.Artifact.ConfigHashesNickName"
	            tab="tab.artifact.Artifact.ConfigHashesNickName">
	      </propertySection>
	   </propertySections>
	</extension>
	
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.TechologyPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.TechologySectionFilter"
	            id="artifact.Technology.Options"
	            tab="tab.artifact.Technology.Options">
	      </propertySection>
	   </propertySections>
	</extension>
	
	
	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.tree.impl.ArtifactPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.ModelMapperSectionFilter"
	            id="recipe.ModelMapper.ArtifactRef"
	            tab="tab.recipe.ModelMapper.Artifact">
	      </propertySection>
	   </propertySections>
	</extension>
	




	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.MappingTechnologiesPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.ModelMapperSectionFilter"
	            id="recipe.ModelMapper.MappingTechnologies"
	            tab="tab.recipe.ModelMapper.Artifact"
	            afterSection="recipe.ModelMapper.ArtifactRef">
	      </propertySection>
	   </propertySections>
	</extension>

	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.dropdown.QueryPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.QuerySectionFilter"
	            id="recipe.Query"
	            tab="tab.recipe.Query">
	      </propertySection>
	   </propertySections>
	</extension>

	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.QueryVariablePropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.QuerySectionFilter"
	            id="recipe.QueryVariables"
	            tab="tab.recipe.Query"
	            afterSection="recipe.Query">
	      </propertySection>
	   </propertySections>
	</extension>

	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.MappersListPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.MappersSectionFilter"
	            id="recipe.Mappers"
	            tab="tab.recipe.Mappers">
	      </propertySection>
	   </propertySections>
	</extension>


    <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.IngredientViewMappingLayerPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.IngredientSelectionFilter"
	            id="recipe.Ingredient.VewLayer"
	            tab="tab.recipe.Ingredient.VewLayer">
	      </propertySection>
	   </propertySections>
	</extension>

    <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.IngredientModelMappingLayerPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.IngredientSelectionFilter"
	            id="recipe.Ingredient.VewLayer"
	            tab="tab.recipe.Ingredient.ModelLayer">
	      </propertySection>
	   </propertySections>
	</extension>
	
	
    <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.dropdown.IngredientControllerLayerPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.IngredientSelectionFilter"
	            id="recipe.Ingredient.ControllerLayer"
	            tab="tab.recipe.Ingredient.ControllerLayer">
	      </propertySection>
	   </propertySections>
	</extension>	
	
	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.KeyValuePairPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.HashConfigSectionFilter"
	            id="recipe.HashConfig"
	            tab="tab.recipe.HashConfig">
	      </propertySection>
	   </propertySections>
	</extension>

	
	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.tree.impl.TypePropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.TypePointerSectionFilter"
	            id="type.TypePointer"
	            tab="tab.type.TypePointer">
	      </propertySection>
	   </propertySections>
	</extension>
	
	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.tree.impl.ObjectMapperTypePropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.ObjectMapperSectionFilter"
	            id="type.TypePointer"
	            tab="tab.type.TypePointer">
	      </propertySection>
	   </propertySections>
	</extension>
	
	
	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.tree.impl.OperationReturnTypePropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.OperationSectionFilter"
	            id="type.Operation"
	            tab="tab.type.Operation">
	      </propertySection>
	   </propertySections>
	</extension>
	

	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.ParametersPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.OperationSectionFilter"
	            id="type.Operation.Parameters"
	            tab="tab.type.Operation"
	            afterSection="type.Operation">
	      </propertySection>
	   </propertySections>
	</extension>

	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.CategorizedPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.CategorizedSectionFilter"
	            id="artifact.Categorized"
	            tab="tab.artifact.Categorized">
	      </propertySection>
	   </propertySections>
	</extension>

	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.RolesPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.PermissionSectionFilter"
	            id="permission.Secured"
	            tab="tab.permission.Secured">
	      </propertySection>
	   </propertySections>
	</extension>

	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.AssosiationMasterDetailPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.AssosiationSectionFilter"
	            id="type.Assosiation"
	            tab="tab.type.Assosiation">
	      </propertySection>
	   </propertySections>
	</extension>
	
	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.DomainConnectorMasterDetailPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.DomainConnectorSectionFilter"
	            id="type.DomainConnector"
	            tab="tab.type.Assosiation">
	      </propertySection>
	   </propertySections>
	</extension>
		
	
	
	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.tree.impl.MethodPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.TriggerSectionFilter"
	            id="form.Trigger"
	            tab="tab.form.Trigger">
	      </propertySection>
	   </propertySections>
	</extension>
	
	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.TriggerContextParameterPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.TriggerSectionFilter"
	            id="form.TriggerParameters"
	            tab="tab.form.Trigger"
	            afterSection="form.Trigger">
	      </propertySection>
	   </propertySections>
	</extension>
	
	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.ServicesPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.ServicesSectionFilter"
	            id="form.Trigger.Services"
	            tab="tab.form.Trigger.Services">
	      </propertySection>
	   </propertySections>
	</extension>
	
	 <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.dropdown.FormParametersPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.FormVariableSectionFilter"
	            id="form.FormVariable"
	            tab="tab.form.FormVariable">
	      </propertySection>
	   </propertySections>
	</extension>

	 <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.tree.impl.BaseClassTypeNamepropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.DataControlSectionFilter"
	            id="form.DataContorol.baseType"
	            tab="tab.form.DataContorol.baseType">
	      </propertySection>
	   </propertySections>
	</extension>

	 <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.DefaultSearchPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.DataControlSectionFilter"
	            id="form.DataContorol.DefaultSearch"
	            tab="tab.form.DataContorol.DefaultSearch">
	      </propertySection>
	   </propertySections>
	</extension>

	 <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.DefaultOrderByPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.DataControlSectionFilter"
	            id="form.DataContorol.OrderBy"
	            tab="tab.form.DataContorol.OrderBy">
	      </propertySection>
	   </propertySections>
	</extension>

	 <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.RelationPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.RelationSectionFilter"
	            id="form.Relation"
	            tab="tab.form.Relation">
	      </propertySection>
	   </propertySections>
	</extension>


	
		 <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.context.impl.MultiLangLabelPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.MultiLangLabelSectionFilter"
	            id="form.MultiLangLabel"
	            tab="tab.form.MultiLangLabel">
	      </propertySection>
	   </propertySections>
	</extension>
	
	
    <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.MultiLangLabelPropertyContextParameters"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.MultiLangLabelSectionFilter"
	            id="form.MultiLangLabel.parameters"
	            tab="tab.form.MultiLangLabel"
	            afterSection="form.MultiLangLabel">
	      </propertySection>
	   </propertySections>
	</extension>	
	

    <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.context.impl.StylePropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.StyleClassSectionFilter"
	            id="form.Style"
	            tab="tab.form.Style">
	      </propertySection>
	   </propertySections>
	</extension>	


    <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.StylePropertyContextParameters"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.StyleClassSectionFilter"
	            id="form.Style.parameters"
	            tab="tab.form.Style"
	            afterSection="form.Style">
	      </propertySection>
	   </propertySections>
	</extension>	


    <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.FlexFieldsPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.FlexFieldsSectionFilter"
	            id="form.FlexField"
	            tab="tab.form.FlexField">
	      </propertySection>
	   </propertySections>
	</extension>	
	
    <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.FlexFieldsContextParameterPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.FlexFieldsSectionFilter"
	            id="form.FlexField.Parameters"
	            tab="tab.form.FlexField"
	            afterSection="form.FlexField">
	      </propertySection>
	   </propertySections>
	</extension>	

    <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.FlexFieldCategorizedPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.FlexFieldsSectionFilter"
	            id="form.FlexField.Categorized"
	            tab="tab.form.FlexField"
	            afterSection="form.FlexField.Parameters">
	      </propertySection>
	   </propertySections>
	</extension>	



    <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.context.impl.EnabledPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.EnabledSectionFilter"
	            id="form.Enabled"
	            tab="tab.form.Enabled">
	      </propertySection>
	   </propertySections>
	</extension>	


    <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.EnabledPropertyContextParameters"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.EnabledSectionFilter"
	            id="form.Enabled.parameters"
	            tab="tab.form.Enabled"
	            afterSection="form.Enabled">
	      </propertySection>
	   </propertySections>
	</extension>	

    <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.context.impl.ReadOnlyPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.UIElementSectionFilter"
	            id="form.ReadOnly"
	            tab="tab.form.ReadOnly">
	      </propertySection>
	   </propertySections>
	</extension>	


    <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.ReadOnlyPropertyContextParameters"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.UIElementSectionFilter"
	            id="form.ReadOnly.parameters"
	            tab="tab.form.ReadOnly"
	            afterSection="form.ReadOnly">
	      </propertySection>
	   </propertySections>
	</extension>	

    <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.context.impl.RequiredPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.UIElementSectionFilter"
	            id="form.Required"
	            tab="tab.form.Required">
	      </propertySection>
	   </propertySections>
	</extension>	


    <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.RequiredPropertyContextParameters"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.UIElementSectionFilter"
	            id="form.Required.parameters"
	            tab="tab.form.Required"
	            afterSection="form.Required">
	      </propertySection>
	   </propertySections>
	</extension>	


   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.context.impl.ItemIconPropertySelectioin"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.ItemIconSectionFilter"
	            id="form.Icon"
	            tab="tab.form.Icon">
	      </propertySection>
	   </propertySections>
	</extension>	


    <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.ItemIconPropertyContextParameters"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.ItemIconSectionFilter"
	            id="form.Icon.parameters"
	            tab="tab.form.Icon"
	            afterSection="form.Icon">
	      </propertySection>
	   </propertySections>
	</extension>	


   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.dropdown.ValuePointerAttributePropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.ValuePointerSectionFilter"
	            id="form.SourcePointer.ValuePointer"
	            tab="tab.form.SourcePointer">
	      </propertySection>
	   </propertySections>
	</extension>	

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.dropdown.ValuePointerAttributePropertySelectionExternalIterator"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.ValuePointerExternalSectionFilter"
	            id="form.SourcePointer.External.ValuePointer"
	            tab="tab.form.SourcePointer">
	      </propertySection>
	   </propertySections>
	</extension>	
	
	
	   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.dropdown.SourceCastPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.ValuePointerSectionFilter"
	            id="form.SourcePointer.Cast"
	            tab="tab.form.SourcePointer">
	      </propertySection>
	   </propertySections>
	</extension>	

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.dropdown.SourceCastPropertySelectionExternalIterator"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.ValuePointerExternalSectionFilter"
	            id="form.SourcePointer.External.Cast"
	            tab="tab.form.SourcePointer">
	      </propertySection>
	   </propertySections>
	</extension>	
	
	

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.dropdown.SourcesPointerDataControlPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.SourcesPointerSectionFilter"
	            id="form.SourcePointer"
	            tab="tab.form.SourcePointer">
	      </propertySection>
	   </propertySections>
	</extension>	



   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.context.impl.InitialOptionMessagePropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.DropDownSectionFilter"
	            id="form.DropDown.Options.InitialMessage"
	            tab="tab.form.DropDown.InitialMessage">
	      </propertySection>
	   </propertySections>
	</extension>	


   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.dropdown.OptionsPointerDataControlPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.DropDownSectionFilter"
	            id="form.DropDown.Options.DataControl"
	            tab="tab.form.DropDown">
	      </propertySection>
	   </propertySections>
	</extension>	

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.dropdown.OptionsCastDataControlPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.DropDownSectionFilter"
	            id="form.DropDown.Options.Cast"
	            tab="tab.form.DropDown"
	            afterSection="form.DropDown.Options.DataControl">
	      </propertySection>
	   </propertySections>
	</extension>


  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.dropdown.DisplayOptionPointerAttributePropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.DropDownSectionFilter"
	            id="form.DropDown.Options.Disp"
	            tab="tab.form.DropDown"
	            afterSection="form.DropDown.Options.Cast">
	      </propertySection>
	   </propertySections>
	</extension>	



   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.dropdown.ValueOptionPointerAttributePropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.DropDownSectionFilter"
	            id="form.DropDown.Options.Value"
	            tab="tab.form.DropDown"
	            afterSection="form.DropDown.Options.Dist">
	      </propertySection>
	   </propertySections>
	</extension>	
	


    <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.RefreshAreaSetPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.UIElementSectionFilter"
	            id="form.UIelement.RefreshArias"
	            tab="tab.form.UIelement.RefreshArias">
	      </propertySection>
	   </propertySections>
	</extension>	

    <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.RefreshAreaGetPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.UIElementSectionFilter"
	            id="form.UIelement.RefreshArias"
	            tab="tab.form.UIelement.RefreshArias">
	      </propertySection>
	   </propertySections>
	</extension>	


    <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.grid.impl.MenuItemOnEventRefreshAreaPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.MenuItemSectionFilter"
	            id="form.MenuItem.RefreshArias"
	            tab="tab.form.UIelement.RefreshArias">
	      </propertySection>
	   </propertySections>
	</extension>	




    <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.dropdown.MenuPointerPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.MenuSectionFilter"
	            id="form.Menu"
	            tab="tab.form.Menu">
	      </propertySection>
	   </propertySections>
	</extension>	


   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.dropdown.ValuePointerAttributePropertySelectionExternalIterator"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.AttributeMapperSectionFilter"
	            id="form.SourcePointer.External.ValuePointer"
	            tab="tab.repository.SourcePointer">
	      </propertySection>
	   </propertySections>
	</extension>	


	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.dropdown.SourceCastPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.ObjectMapperSectionFilter"
	            id="form.SourcePointer.Cast"
	            tab="tab.form.SourcePointer">
	      </propertySection>
	   </propertySections>
	</extension>	
	
	
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections contributorId="org.eclipse.sirius.diagram.ui">
	      <propertySection
	            class="org.tura.metamodel.sirius.properties.selections.dropdown.SourcesPointerDataControlPropertySelection"
	            filter="org.tura.metamodel.sirius.properties.selections.filter.ObjectMapperSectionFilter"
	            id="form.SourcePointer"
	            tab="tab.form.SourcePointer">
	      </propertySection>
	   </propertySections>
	</extension>	




</plugin>