<?xml version="1.0" encoding="UTF-8"?>
<!--
      Tura - Application generation solution

      Copyright (C) 2008-2023 2182342 Ontario Inc ( arseniy.isakov@turasolutions.com ).


      This project includes software developed by Arseniy Isakov
      https://github.com/isakovarseniy/tura
      All rights reserved. This program and the accompanying materials
      are made available under the terms of the Eclipse Public License v2.0
      which accompanies this distribution, and is available at
      http://www.eclipse.org/legal/epl-v20.html
-->
<?eclipse version="3.2"?>
<!--
      Tura - Application generation solution

      Copyright (C) 2008-2023 2182342 Ontario Inc ( arseniy.isakov@turasolutions.com ).


      This project includes software developed by Arseniy Isakov
      https://github.com/isakovarseniy/tura
      All rights reserved. This program and the accompanying materials
      are made available under the terms of the Eclipse Public License v2.0
      which accompanies this distribution, and is available at
      http://www.eclipse.org/legal/epl-v20.html
-->


<plugin>
   
   <extension
         point="org.eclipse.epsilon.common.dt.tool">
     <tool
            class="org.tura.metamodel.generation.JavaFormatter"
            defaultName="JavaFormatter">
      </tool>
   </extension>

   <extension
         point="org.eclipse.epsilon.common.dt.tool">
     <tool
            class="org.tura.metamodel.generation.NullFormatter"
            defaultName="NullFormatter">
      </tool>
   </extension>

   <extension
         point="org.eclipse.epsilon.common.dt.tool">
     <tool
            class="org.tura.metamodel.commons.QueryHelper"
            defaultName="QueryHelper">
      </tool>
   </extension>

   <extension
         point="org.eclipse.epsilon.common.dt.tool">
     <tool
            class="org.tura.metamodel.commons.HintHelper"
            defaultName="QueryHelper">
      </tool>
   </extension>
   
   <extension
         point="org.eclipse.epsilon.common.dt.tool">
     <tool
            class="org.eclipse.epsilon.egl.formatter.language.XmlFormatter"
            defaultName="XmlFormatter">
      </tool>
   </extension>

   <extension
         point="org.eclipse.epsilon.common.dt.tool">
     <tool
            class="org.tura.metamodel.commons.Helper"
            defaultName="Helper">
      </tool>
   </extension>



</plugin>


