<!--
      Tura - Application generation solution

      Copyright (C) 2008-2021 2182342 Ontario Inc ( arseniy.isakov@turasolutions.com ).


      This project includes software developed by Arseniy Isakov
      http://sourceforge.net/p/tura/wiki/Home/
      All rights reserved. This program and the accompanying materials
      are made available under the terms of the Eclipse Public License v2.0
      which accompanies this distribution, and is available at
      http://www.eclipse.org/legal/epl-v20.html
-->

<plugin>

   <extension
         point="org.eclipse.epsilon.common.dt.tool">
      <tool
            class="org.tura.metamodel.commons.QueryHelper"
            defaultName="QueryHelper">
      </tool>
   </extension>

   
    <extension
         point="org.eclipse.epsilon.common.dt.tool">
      <tool
            class="org.tura.metamodel.commons.Util"
            defaultName="Util"> 
      </tool>
   </extension>

   <extension   point="org.eclipse.core.runtime.adapters">
      <factory  adaptableType="org.tura.metamodel.commons.properties.selections.adapters.helper.TreeRoot"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>
      <factory  adaptableType="org.tura.metamodel.commons.properties.selections.adapters.helper.DataControlHolder"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>

      <factory  adaptableType="org.tura.metamodel.commons.properties.selections.adapters.helper.TreeRootDataControlHolder"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>

      <factory  adaptableType="form.DataControl"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>
      
      <factory  adaptableType="org.tura.metamodel.commons.properties.selections.adapters.helper.TriggerHolder"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>
      <factory  adaptableType="type.TypeElement"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>
     <factory  adaptableType="type.Attribute"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>
     <factory  adaptableType="type.Operation"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>

     <factory  adaptableType="permission.Role"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>
      
     <factory  adaptableType="permission.Group"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>

     <factory  adaptableType="message.MessageLibrary"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>

     <factory  adaptableType="message.Message"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>



     <factory  adaptableType="domain.DomainArtifacts"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>

     <factory  adaptableType="domain.DomainArtifact"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>

     <factory  adaptableType="artifact.Artifact"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>

     <factory  adaptableType="artifact.GenerationHint"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>

      <factory  adaptableType="org.tura.metamodel.commons.properties.selections.adapters.helper.DataControlFakeAttribute"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>

      <factory  adaptableType="org.tura.metamodel.commons.properties.selections.adapters.helper.DataControlFakeMethod"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>

      <factory  adaptableType="org.tura.metamodel.commons.properties.selections.adapters.helper.TreeDataControl"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>

      <factory  adaptableType="org.tura.metamodel.commons.properties.selections.adapters.helper.ExtendedType"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>      

      <factory  adaptableType="form.ArtificialField"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>      

      <factory  adaptableType="permission.Roles"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>      


      <factory  adaptableType="style.StyleLibrary"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    

      <factory  adaptableType="style.StyleSet"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    


      <factory  adaptableType="form.FormVariable"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    

      <factory  adaptableType="domain.DomainApplications"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    

      <factory  adaptableType="domain.DomainApplication"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    

      <factory  adaptableType="application.ApplicationUIPackage"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    

      <factory  adaptableType="form.Form"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    


     <factory  adaptableType="form.Window"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    


     <factory  adaptableType="artifact.TechLeaf"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    

     <factory  adaptableType="org.tura.metamodel.commons.properties.selections.adapters.helper.ConfigurationHashesHolder"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    


     <factory  adaptableType="org.tura.metamodel.commons.properties.selections.adapters.helper.ConfigurationVariablesHolder"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    

     <factory  adaptableType="org.tura.metamodel.commons.properties.selections.adapters.helper.GenerationHintsHolder"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    


     <factory  adaptableType="artifact.ConfigVariable"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    

     <factory  adaptableType="artifact.ConfigHash"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    

     <factory  adaptableType="org.tura.metamodel.commons.properties.selections.adapters.helper.DomainArtifactsHolder"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    


     <factory  adaptableType="artifact.ArtifactGroup"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    


     <factory  adaptableType="type.PrimitivesGroup"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    


     <factory  adaptableType="type.PrimitivesGroup"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    

     <factory  adaptableType="type.Primitive"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    


     <factory  adaptableType="domain.DomainTypes"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    

     <factory  adaptableType="type.TypeGroup"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    

     <factory  adaptableType="domain.DomainTypesRepository"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    

     <factory  adaptableType="application.ApplicationGroup"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    

     <factory  adaptableType="application.Application"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    

     <factory  adaptableType="application.ApplicationRealm"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    

     <factory  adaptableType="application.ApplicationRealms"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    

     <factory  adaptableType="application.ApplicationStyleLibraries"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    

     <factory  adaptableType="application.ApplicationStyle"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    

     <factory  adaptableType="application.ApplicationMessageLibrary"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    

     <factory  adaptableType="form.Root"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    

     <factory  adaptableType="mapper.Mapper"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    

     <factory  adaptableType="application.ApplicationMapper"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    

     <factory  adaptableType="org.tura.metamodel.commons.MappersRoot"
             class="org.tura.metamodel.commons.properties.selections.adapters.TreeProviderAdapterFactory">
                 <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/> 
                 <adapter type="org.tura.metamodel.commons.properties.selections.adapters.IReturnTypeProvider"/> 
      </factory>    


</extension>
</plugin>