<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.ewl.emf.wizards">
      <wizards
            file="wizards/recipeGeneratioin.ewl"
            namespaceURI="http://tura.org/2013/v1/domain">
      </wizards>
   </extension>
   
   <extension
         point="org.eclipse.epsilon.common.dt.tool">
     <tool
            class="org.tura.metamodel.wizard.infrastructure.RecipeGeneration"
            defaultName="RecipeGeneration">
      </tool>
   </extension>

   <extension
         point="org.eclipse.epsilon.common.dt.tool">
     <tool
            class="org.tura.metamodel.wizard.infrastructure.Indicator"
            defaultName="Indicator">
      </tool>
   </extension>

   <extension
         point="org.eclipse.epsilon.common.dt.tool">
     <tool
            class="org.tura.metamodel.wizard.infrastructure.JavaFormatter"
            defaultName="JavaFormatter">
      </tool>
   </extension>

   <extension
         point="org.eclipse.epsilon.common.dt.tool">
     <tool
            class="org.tura.metamodel.commons.QueryHelper"
            defaultName="QueryHelper">
      </tool>
   </extension>


   <extension
         point="org.eclipse.epsilon.common.dt.tool">
     <tool
            class="org.eclipse.epsilon.egl.formatter.language.XmlFormatter"
            defaultName="XmlFormatter">
      </tool>
   </extension>

   <extension
         point="org.eclipse.epsilon.common.dt.tool">
     <tool
            class="org.tura.metamodel.commons.Helper"
            defaultName="Helper">
      </tool>
   </extension>



</plugin>


